Repository bkhizgiy/automotive-dev-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: aib-webui-on-pull-request, automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push, catalog-on-pull-request

Path conditions:
  aib-webui-on-pull-request: (any of: ^webui/.*) or (any of: ^\.tekton/aib-webui-.*\.yaml$)
  automotive-dev-operator-on-pull-request: (((any of: ^(api|internal|cmd)/.*) or (any of: ^Dockerfile$)) or (any of: ^go\.(mod|sum)$)) or (any of: ^\.tekton/automotive-dev-operator-.*\.yaml$)
  automotive-dev-operator-on-push: ((any of: ^(api|internal|cmd)/.*) or (any of: ^Dockerfile$)) or (any of: ^go\.(mod|sum)$)
  bundle-on-push: ((any of: ^bundle/.*) or (any of: ^config/.*)) or (any of: ^bundle\.Dockerfile$)
  catalog-on-pull-request: ((any of: ^catalog/.*) or (any of: ^catalog\.Dockerfile$)) or (any of: ^\.tekton/catalog-.*\.yaml$)

remove reintroduction of bundle/
  bundle/manifests/automotive.sdv.cloud.redhat.com_imagebuilds.yaml
Due: bundle-on-push

add hash to builder image for seal
  internal/common/tasks/scripts/build_image.sh
  internal/common/tasks/scripts/sealed_operation.sh
  internal/common/tasks/tasks.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

pull image commands out of main
  Makefile
  cmd/caib/image/image.go
  cmd/caib/main.go
  cmd/caib/root.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

extract helpers and to packages
  cmd/caib/build_validation.go
  cmd/caib/buildcmd/build.go
  cmd/caib/buildcmd/flash_feedback.go
  cmd/caib/buildcmd/logs.go
  cmd/caib/cli_helpers.go
  cmd/caib/common/api_client.go
  cmd/caib/common/build_validation.go
  cmd/caib/common/cli_helpers.go
  cmd/caib/common/manifest_artifact_helpers.go
  cmd/caib/common/oci_artifact.go
  cmd/caib/downloadcmd/download.go
  cmd/caib/flashcmd/flash.go
  cmd/caib/image/image_test.go
  cmd/caib/login.go
  cmd/caib/logstream/logstream.go
  cmd/caib/main.go
  cmd/caib/querycmd/query.go
  cmd/caib/root.go
  cmd/caib/runtime_wiring.go
  cmd/caib/sealedcmd/sealed.go
  cmd/caib/target_defaults_compat.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

support auth.json for reseal operations
  cmd/caib/image/image.go
  cmd/caib/runtime_wiring.go
  cmd/caib/sealedcmd/sealed.go
  internal/common/tasks/scripts/sealed_operation.sh
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

update README
  cmd/caib/README.md
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

add build lifecycle events for builder controllers
  cmd/main.go
  internal/controller/containerbuild/controller.go
  internal/controller/imagebuild/controller.go
  internal/controller/imagereseal/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

add explicit lifecycle and action-specific build events
  internal/controller/containerbuild/controller.go
  internal/controller/imagebuild/controller.go
  internal/controller/imagereseal/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

fix progress completion
  cmd/caib/buildcmd/build.go
  cmd/caib/buildcmd/logs.go
  cmd/caib/ui/progress.go
  cmd/caib/ui/progress_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

replace repeated Building phase string with constant
  internal/controller/imagebuild/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

make --internal-registry implied for caib image disk
  cmd/caib/buildcmd/build.go
  cmd/caib/buildcmd/build_disk_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

CAIB: fetch server from jumpstarter (#136)
  cmd/caib/authcmd/authcmd.go
  cmd/caib/buildcmd/build.go
  cmd/caib/buildcmd/logs.go
  cmd/caib/catalog/add.go
  cmd/caib/catalog/get.go
  cmd/caib/catalog/list.go
  cmd/caib/catalog/publish.go
  cmd/caib/catalog/remove.go
  cmd/caib/catalog/verify.go
  cmd/caib/config/config.go
  cmd/caib/config/config_test.go
  cmd/caib/config/suite_test.go
  cmd/caib/container/build.go
  cmd/caib/container/container.go
  cmd/caib/container/logs.go
  cmd/caib/downloadcmd/download.go
  cmd/caib/flashcmd/flash.go
  cmd/caib/image/image.go
  cmd/caib/login.go
  cmd/caib/querycmd/query.go
  cmd/caib/root.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

prevent name collision (#145)
  internal/buildapi/server.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

caib: store local state under ~/.config and ~/.cache
  cmd/caib/auth/config.go
  cmd/caib/auth/oidc.go
  cmd/caib/config/config.go
  cmd/caib/root.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

caib: update tests for config and cache path changes
  cmd/caib/auth/config.go
  cmd/caib/auth/config_test.go
  cmd/caib/auth/oidc_test.go
  cmd/caib/auth/wrapper_test.go
  cmd/caib/config/config.go
  cmd/caib/config/config_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

caib: honor XDG config and cache env overrides
  cmd/caib/auth/config_test.go
  cmd/caib/auth/oidc_test.go
  cmd/caib/auth/wrapper_test.go
  cmd/caib/config/config.go
  cmd/caib/config/config_test.go
  cmd/caib/root.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

caib: change config paths to follow XDG practices (#146)
  cmd/caib/auth/config.go
  cmd/caib/auth/config_test.go
  cmd/caib/auth/oidc.go
  cmd/caib/auth/oidc_test.go
  cmd/caib/auth/wrapper_test.go
  cmd/caib/config/config.go
  cmd/caib/config/config_test.go
  cmd/caib/root.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

test: enhance e2e-test suite coverage with real builds scenarios (#58)
  .github/workflows/e2e.yml
  Makefile
  hack/run-e2e-local.sh
  test/config/test-manifest.aib.yml
  test/e2e/e2e_test.go
  test/utils/utils.go
Due: none

add --flash-cmd to override OperatorConfig (#149)
  api/v1alpha1/imagebuild_types.go
  cmd/caib/buildcmd/build.go
  cmd/caib/flashcmd/flash.go
  cmd/caib/image/image.go
  cmd/caib/main.go
  cmd/caib/runtime_wiring.go
  config/crd/bases/automotive.sdv.cloud.redhat.com_imagebuilds.yaml
  internal/buildapi/server.go
  internal/buildapi/types.go
  internal/controller/imagebuild/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

e2e: remove non-caib build and output logs (#151)
  test/e2e/e2e_suite_test.go
  test/e2e/e2e_test.go
Due: none

extract OCI secret from auth.json for flashing (#150)
  api/v1alpha1/imagebuild_types.go
  cmd/caib/buildcmd/build.go
  cmd/caib/flashcmd/flash.go
  cmd/caib/image/image.go
  cmd/caib/registryauth/loader.go
  cmd/caib/runtime_wiring.go
  config/crd/bases/automotive.sdv.cloud.redhat.com_imagebuilds.yaml
  internal/buildapi/flash_helpers.go
  internal/buildapi/server.go
  internal/buildapi/types.go
  internal/common/registryutil/registryutil.go
  internal/common/registryutil/registryutil_test.go
  internal/controller/imagebuild/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

apply trusted CA bundle config in build and reseal controllers
  internal/controller/imagebuild/controller.go
  internal/controller/imagereseal/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

add OperatorConfig trusted CA bundle API
  api/v1alpha1/operatorconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/automotive.sdv.cloud.redhat.com_operatorconfigs.yaml
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

propagate explicit trusted CA bundles into generated tasks
  internal/common/tasks/scripts/common.sh
  internal/common/tasks/tasks.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

wire OperatorConfig trusted CA into OSBuilds task deployment
  internal/controller/operatorconfig/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

mount trusted CA bundle in push-artifact-registry task
  internal/common/tasks/tasks.go
  internal/common/tasks/trusted_ca_test.go
  internal/controller/imagereseal/controller.go
  internal/controller/operatorconfig/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

add unit tests for trusted CA bundle behavior
  internal/common/tasks/trusted_ca_test.go
  internal/controller/imagebuild/trusted_ca_test.go
  internal/controller/imagereseal/trusted_ca_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

deduplicate and harden trusted CA bundle wiring
  internal/common/tasks/tasks.go
  internal/controller/controllerutils/trusted_ca.go
  internal/controller/imagebuild/controller.go
  internal/controller/imagebuild/trusted_ca_test.go
  internal/controller/imagereseal/controller.go
  internal/controller/imagereseal/trusted_ca_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

keep ImageBuild when it expires
  api/v1alpha1/imagebuild_types.go
  cmd/caib/buildcmd/logs.go
  config/crd/bases/automotive.sdv.cloud.redhat.com_imagebuilds.yaml
  internal/controller/imagebuild/controller.go
  internal/controller/imagebuild/expiry_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

add Ready and Progressing status conditions to ImageBuild
  api/v1alpha1/imagebuild_types.go
  internal/controller/imagebuild/controller.go
  internal/controller/imagebuild/controller_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

support xz compression
  cmd/caib/buildcmd/build.go
  cmd/caib/querycmd/query.go
  internal/buildapi/internal_registry_test.go
  internal/buildapi/server.go
  internal/buildapi/types.go
  internal/common/tasks/scripts/build_image.sh
  internal/common/tasks/tasks.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

feat: add optional Prometheus monitoring via OperatorConfig
  api/v1alpha1/operatorconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/automotive.sdv.cloud.redhat.com_operatorconfigs.yaml
  config/rbac/role.yaml
  internal/controller/operatorconfig/controller.go
  internal/controller/operatorconfig/resources.go
  internal/controller/operatorconfig/resources_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

add active builds count
  config/samples/automotive_v1_operatorconfig.yaml
  internal/controller/imagebuild/controller.go
  internal/controller/imagebuild/metrics.go
  internal/controller/imagebuild/metrics_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

refactor: extract registry from server.go
  api/v1alpha1/operatorconfig_types.go
  config/crd/bases/automotive.sdv.cloud.redhat.com_operatorconfigs.yaml
  internal/buildapi/client_tokens.go
  internal/buildapi/container_builds.go
  internal/buildapi/flash.go
  internal/buildapi/flash_helpers.go
  internal/buildapi/flash_test.go
  internal/buildapi/progress.go
  internal/buildapi/registry.go
  internal/buildapi/registry_test.go
  internal/buildapi/secrets.go
  internal/buildapi/secrets_test.go
  internal/buildapi/server.go
  internal/buildapi/server_test.go
  internal/buildapi/workspace.go
  internal/common/labels/labels.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

add sample perses dashboard
  config/samples/monitoring/perses-dashboard.yaml
  config/samples/monitoring/uiplugin.yaml
  internal/controller/imagebuild/controller.go
  internal/controller/operatorconfig/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

warn for jmp login instead of failing
  internal/common/tasks/scripts/flash_image.sh
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

add status conditions to OperatorConfig
  api/v1alpha1/operatorconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/automotive.sdv.cloud.redhat.com_operatorconfigs.yaml
  internal/controller/operatorconfig/controller.go
  internal/controller/operatorconfig/controller_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

fix: prevent OperatorConfig reconcile storm
  internal/controller/operatorconfig/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

fix: resolve operator namespace dynamically instead of hardcoding
  cmd/caib/config/config.go
  internal/controller/containerbuild/controller.go
  internal/controller/containerbuild/controller_test.go
  internal/controller/controllerutils/namespace.go
  internal/controller/imagebuild/controller.go
  internal/controller/imagebuild/expiry_test.go
  internal/controller/imagereseal/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push
