Repository bkhizgiy/automotive-dev-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: aib-webui-on-pull-request, automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push, catalog-on-pull-request

Path conditions:
  aib-webui-on-pull-request: (any of: ^webui/.*) or (any of: ^\.tekton/aib-webui-.*\.yaml$)
  automotive-dev-operator-on-pull-request: (((any of: ^(api|internal|cmd)/.*) or (any of: ^Dockerfile$)) or (any of: ^go\.(mod|sum)$)) or (any of: ^\.tekton/automotive-dev-operator-.*\.yaml$)
  automotive-dev-operator-on-push: ((any of: ^(api|internal|cmd)/.*) or (any of: ^Dockerfile$)) or (any of: ^go\.(mod|sum)$)
  bundle-on-push: ((any of: ^bundle/.*) or (any of: ^config/.*)) or (any of: ^bundle\.Dockerfile$)
  catalog-on-pull-request: ((any of: ^catalog/.*) or (any of: ^catalog\.Dockerfile$)) or (any of: ^\.tekton/catalog-.*\.yaml$)

Add unify pipeline for building with konflux
  .tekton/bundle-pull-request.yaml
  .tekton/bundle-push.yaml
  .tekton/catalog-pull-request.yaml
  .tekton/operator-pull-request.yaml
  .tekton/operator-push.yaml
  .tekton/release-pull-request.yaml
  .tekton/release-push.yaml
Due: catalog-on-pull-request

refactor: extract E2E-Test CI setup into reusable composite actions
  .github/actions/cleanup-kind-e2e/action.yml
  .github/actions/collect-e2e-logs/action.yml
  .github/actions/setup-kind-e2e/action.yml
  .github/workflows/e2e-lanes.yml
  .github/workflows/e2e.yml
  Makefile
  test/e2e/README.md
  test/e2e/bootc_build_test.go
Due: none

fix: do not show flashing instructions when build failed
  cmd/caib/buildcmd/logs.go
  cmd/caib/buildcmd/logs_test.go
  internal/buildapi/server.go
  internal/buildapi/server_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

feat(cli): add --quiet/-q flag to suppress informational output
  cmd/caib/buildcmd/build.go
  cmd/caib/buildcmd/flash_feedback.go
  cmd/caib/buildcmd/logs.go
  cmd/caib/catalog/add.go
  cmd/caib/catalog/publish.go
  cmd/caib/catalog/remove.go
  cmd/caib/catalog/verify.go
  cmd/caib/clilog/clilog.go
  cmd/caib/clilog/clilog_test.go
  cmd/caib/container/build.go
  cmd/caib/container/logs.go
  cmd/caib/container/utilities.go
  cmd/caib/downloadcmd/download.go
  cmd/caib/flashcmd/flash.go
  cmd/caib/inspectcmd/inspect.go
  cmd/caib/login.go
  cmd/caib/logstream/logstream.go
  cmd/caib/main.go
  cmd/caib/main_test.go
  cmd/caib/registryauth/credentials.go
  cmd/caib/root.go
  cmd/caib/sealedcmd/sealed.go
  cmd/caib/ui/progress.go
  cmd/caib/ui/progress_test.go
  cmd/caib/workspace/workspace.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

refactor: extract OCI artifact contract into shared spec
  cmd/caib/common/oci_artifact.go
  cmd/caib/inspectcmd/inspect.go
  cmd/caib/inspectcmd/inspect_test.go
  internal/common/oci/spec.go
  internal/common/oci/spec.json
  internal/common/oci/spec_test.go
  internal/common/tasks/oci_contract_test.go
  internal/common/tasks/scripts.go
  internal/common/tasks/scripts/build_image.sh
  internal/common/tasks/scripts/push_artifact.sh
  internal/common/tasks/scripts/sealed_operation.sh
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

feat: add OIDC auth e2e tests with Dex support on Kind
  .github/workflows/e2e-lanes.yml
  .github/workflows/e2e.yml
  .gitignore
  hack/e2e/dex.values.yaml
  hack/e2e/setup-dex.sh
  hack/run-e2e-local.sh
  test/e2e/auth_test.go
  test/e2e/helpers_test.go
Due: none

Add a way to override the install folder
  hack/install-caib.sh
Due: none

Add debugging to the install script
  hack/install-caib.sh
Due: none

ci: add Konflux self-hosted setup and Tekton release pipelines
  .gitignore
  .tekton/bundle-pull-request.yaml
  .tekton/bundle-push.yaml
  .tekton/catalog-pull-request.yaml
  .tekton/catalog-push.yaml
  .tekton/operator-pull-request.yaml
  .tekton/operator-push.yaml
  .tekton/release-pull-request.yaml
  .tekton/release-push.yaml
  README.md
  hack/konflux/defaults.env
  hack/konflux/deploy-local.env.template
  hack/konflux/onboard-app.sh
Due: catalog-on-pull-request

feat: add actionable error messages to caib CLI
  cmd/caib/buildcmd/build.go
  cmd/caib/buildcmd/logs.go
  cmd/caib/cli_helpers.go
  cmd/caib/common/actionable_error.go
  cmd/caib/common/actionable_error_test.go
  cmd/caib/container/build.go
  cmd/caib/container/utilities.go
  cmd/caib/downloadcmd/download.go
  cmd/caib/flashcmd/flash.go
  cmd/caib/inspectcmd/inspect.go
  cmd/caib/main.go
  cmd/caib/sealedcmd/sealed.go
  cmd/caib/workspace/workspace.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

ci: add Konflux Tekton release pipelines
  .gitignore
  .tekton/bundle-pull-request.yaml
  .tekton/bundle-push.yaml
  .tekton/catalog-pull-request.yaml
  .tekton/catalog-push.yaml
  .tekton/operator-pull-request.yaml
  .tekton/operator-push.yaml
  .tekton/release-pull-request.yaml
  .tekton/release-push.yaml
Due: catalog-on-pull-request

Add caib login new options --token flag support
  cmd/caib/authcmd/authcmd.go
  cmd/caib/authcmd/authcmd_test.go
  cmd/caib/common/api_client.go
  cmd/caib/common/api_client_test.go
  cmd/caib/config/config.go
  cmd/caib/config/config_test.go
  cmd/caib/login.go
  cmd/caib/login_test.go
  cmd/caib/root.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

feat: support CA cert references from secret/configmap for JWT OIDC auth
  api/v1alpha1/operatorconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/automotive.sdv.cloud.redhat.com_operatorconfigs.yaml
  config/rbac/role.yaml
  config/samples/automotive_v1_operatorconfig.yaml
  internal/buildapi/auth.go
  internal/buildapi/auth_config.go
  internal/buildapi/auth_config_test.go
  internal/buildapi/helpers.go
  internal/controller/operatorconfig/controller.go
  test/e2e/auth_test.go
  test/e2e/helpers_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

fix: remove privileged buildah requirement from bundle/catalog builds
  .tekton/bundle-pull-request.yaml
  .tekton/bundle-push.yaml
  .tekton/catalog-pull-request.yaml
  .tekton/catalog-push.yaml
Due: catalog-on-pull-request

chore: bump AIB image to 1.3.3
  api/v1alpha1/operatorconfig_types.go
  cmd/caib/README.md
  config/manifests/bases/automotive-dev-operator.clusterserviceversion.yaml
  docs/openapi.yaml
  internal/buildapi/openapi.yaml
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

enable merge_group to fix merge queue checks (#421)
  .github/workflows/e2e.yml
  .github/workflows/lint.yml
Due: none

fix: backport action (#416)
  .github/workflows/backport.yml
Due: none

feat: improve catalog discovery UX for scheduled builds
  cmd/caib/catalog/catalog_test.go
  cmd/caib/catalog/get.go
  cmd/caib/catalog/list.go
  internal/buildapi/catalog/handlers.go
  internal/buildapi/catalog/handlers_test.go
  internal/buildapi/catalog/models.go
  internal/controller/catalogimage/publisher.go
  internal/controller/catalogimage/publisher_test.go
  test/e2e/catalog_discovery_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

fix: remove namespace semantics from catalog CLI and API
  cmd/caib/catalog/add.go
  cmd/caib/catalog/catalog.go
  cmd/caib/catalog/get.go
  cmd/caib/catalog/list.go
  cmd/caib/catalog/publish.go
  cmd/caib/catalog/remove.go
  cmd/caib/catalog/verify.go
  internal/buildapi/catalog/handlers.go
  internal/buildapi/catalog/handlers_test.go
  internal/buildapi/catalog/models.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

fix: update existing CatalogImage on duplicate registry URL
  internal/controller/catalogimage/catalogimage_controller.go
  internal/controller/catalogimage/publisher.go
  internal/controller/catalogimage/publisher_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

fix: add labels to Dockerfile (#439)
  .github/workflows/build.yml
  Dockerfile
  Makefile
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

change default install dir (#442)
  hack/install-caib.sh
Due: none

use containers_image_openpgp to avoid gpgme requirement (#446)
  .github/actions/setup-kind-e2e/action.yml
  .github/workflows/lint.yml
  .golangci.yml
  Makefile
Due: none

fix: invalidate cached server URL when Jumpstarter endpoint changes (#433)
  cmd/caib/config/config.go
  cmd/caib/config/config_test.go
  cmd/caib/status.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

multi arch catalog build (#448)
  .tekton/catalog-pull-request.yaml
  .tekton/catalog-push.yaml
Due: catalog-on-pull-request

feat: add support for abl partitions (#473)
  internal/common/tasks/scripts/build_image.sh
  internal/common/tasks/scripts/push_artifact.sh
  internal/controller/operatorconfig/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

fix: add lease ID to flash API response (#474)
  cmd/caib/flashcmd/flash.go
  internal/buildapi/flash.go
  internal/buildapi/flash_test.go
  internal/buildapi/types.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

fix(caib): respect --output-format flag in image token command (#478)
  cmd/caib/runtime_wiring.go
  cmd/caib/tokencmd/token.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

feat: imply internal-registry when using -o (#481)
  cmd/caib/buildcmd/build.go
  cmd/caib/image/image.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

fix: add image expirty for on-pr bundel images and artifacts
  .tekton/bundle-pull-request.yaml
Due: none

fix: add image expirty for on-pr bundel images and artifacts (#507)
  .tekton/bundle-pull-request.yaml
Due: none

fix: remove OLM dependency from deploy script (#503)
  hack/deploy-catalog.sh
Due: none

feat: infer target from OCI annotation (#490)
  internal/buildapi/flash.go
  internal/buildapi/flash_helpers.go
  internal/buildapi/flash_helpers_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

fix: pin catalog image platform to cluster architecture (#517)
  hack/deploy-catalog.sh
Due: none

bump to go 1.26 (#518)
  .github/workflows/build.yml
  .github/workflows/e2e-lanes.yml
  .github/workflows/e2e.yml
  .github/workflows/lint.yml
  .github/workflows/test-images.yml
  .tekton/bundle-pull-request.yaml
  .tekton/bundle-push.yaml
  .tekton/catalog-pull-request.yaml
  .tekton/catalog-push.yaml
  Dockerfile
  go.mod
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, catalog-on-pull-request

chore: add make bump-go target to centralize Go version updates (#519)
  .github/workflows/build.yml
  .github/workflows/test-images.yml
  Makefile
Due: none

chore: bump AIB image to 1.3.4
  api/v1alpha1/operatorconfig_types.go
  cmd/caib/README.md
  config/manifests/bases/automotive-dev-operator.clusterserviceversion.yaml
  docs/openapi.yaml
  internal/buildapi/openapi.yaml
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

fix(caib): route auth output through clilog/stderr (fixes #1) (#529)
  cmd/caib/auth/oidc.go
  cmd/caib/auth/wrapper.go
  cmd/caib/authcmd/authcmd.go
  cmd/caib/authcmd/authcmd_test.go
  cmd/caib/login.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

fix(caib): route log streaming through quiet-aware writer (fixes #3) (#531)
  cmd/caib/buildcmd/logs.go
  cmd/caib/container/logs.go
  cmd/caib/flashcmd/flash.go
  cmd/caib/logstream/logstream.go
  cmd/caib/logstream/logstream_test.go
  cmd/caib/sealedcmd/sealed.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push
