Repository bkhizgiy/automotive-dev-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: aib-webui-on-pull-request, automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push, catalog-on-pull-request

Path conditions:
  aib-webui-on-pull-request: (any of: ^webui/.*) or (any of: ^\.tekton/aib-webui-.*\.yaml$)
  automotive-dev-operator-on-pull-request: (((any of: ^(api|internal|cmd)/.*) or (any of: ^Dockerfile$)) or (any of: ^go\.(mod|sum)$)) or (any of: ^\.tekton/automotive-dev-operator-.*\.yaml$)
  automotive-dev-operator-on-push: ((any of: ^(api|internal|cmd)/.*) or (any of: ^Dockerfile$)) or (any of: ^go\.(mod|sum)$)
  bundle-on-push: ((any of: ^bundle/.*) or (any of: ^config/.*)) or (any of: ^bundle\.Dockerfile$)
  catalog-on-pull-request: ((any of: ^catalog/.*) or (any of: ^catalog\.Dockerfile$)) or (any of: ^\.tekton/catalog-.*\.yaml$)

Add konflux scripts to deploy self hosted instance
  .tekton/bundle-push.yaml
  .tekton/catalog-push.yaml
  konflux/01-setup-kind.sh
  konflux/02-deploy-konflux.sh
  konflux/03-onboard-app.sh
Due: catalog-on-pull-request

fix: fix creds passing when using internal-registry
  cmd/caib/buildcmd/build.go
  cmd/caib/buildcmd/build_creds_test.go
  cmd/caib/registryauth/credentials.go
  cmd/caib/registryauth/credentials_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

chore: bump AIB image to 1.3.1
  api/v1alpha1/operatorconfig_types.go
  cmd/caib/README.md
  config/manifests/bases/automotive-dev-operator.clusterserviceversion.yaml
  docs/openapi.yaml
  internal/buildapi/openapi.yaml
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

skip compliance checks for local dev
  .tekton/bundle-pull-request.yaml
  .tekton/bundle-push.yaml
  .tekton/catalog-pull-request.yaml
  .tekton/catalog-push.yaml
  .tekton/operator-pull-request.yaml
  .tekton/operator-push.yaml
Due: catalog-on-pull-request

Add konflux creation scripts
  konflux/01-setup-kind.sh
  konflux/02-deploy-konflux.sh
  konflux/03-onboard-app.sh
  konflux/deploy-local.env.template
Due: none

feat: Add konflux building pipeline for operator, bundle and catalog
  .tekton/bundle-push.yaml
  .tekton/catalog-push.yaml
  .tekton/operator-pull-request.yaml
  .tekton/operator-push.yaml
Due: catalog-on-pull-request

Add fix for push pipelins
  .tekton/bundle-pull-request.yaml
  .tekton/bundle-push.yaml
  .tekton/catalog-pull-request.yaml
  .tekton/catalog-push.yaml
  .tekton/operator-pull-request.yaml
  konflux/03-onboard-app.sh
Due: catalog-on-pull-request

fix pipelines
  .tekton/bundle-push.yaml
  .tekton/catalog-push.yaml
  .tekton/operator-pull-request.yaml
  .tekton/operator-push.yaml
Due: catalog-on-pull-request

add: generated bundle and catalog manifests for CI
  bundle/manifests/ado-image-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/ado-image-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/ado-imagebuild-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/ado-imagebuild-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/ado-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/ado-operator-auth-delegator_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundle/manifests/ado-operator-metrics-service_v1_service.yaml
  bundle/manifests/ado-pipeline-pod-annotator_rbac.authorization.k8s.io_v1_role.yaml
  bundle/manifests/ado-pipeline-pod-annotator_rbac.authorization.k8s.io_v1_rolebinding.yaml
  bundle/manifests/ado-pipeline-privileged-scc_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundle/manifests/ado-pipeline-registry-editor_rbac.authorization.k8s.io_v1_rolebinding.yaml
  bundle/manifests/ado-scc-privileged-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/automotive-dev-operator.clusterserviceversion.yaml
  bundle/manifests/automotive.sdv.cloud.redhat.com_catalogimages.yaml
  bundle/manifests/automotive.sdv.cloud.redhat.com_containerbuilds.yaml
  bundle/manifests/automotive.sdv.cloud.redhat.com_imagebuilds.yaml
  bundle/manifests/automotive.sdv.cloud.redhat.com_imagereseals.yaml
  bundle/manifests/automotive.sdv.cloud.redhat.com_images.yaml
  bundle/manifests/automotive.sdv.cloud.redhat.com_operatorconfigs.yaml
  bundle/manifests/automotive.sdv.cloud.redhat.com_workspaces.yaml
  bundle/metadata/annotations.yaml
  bundle/tests/scorecard/config.yaml
  catalog/automotive-dev-operator.yaml
Due: bundle-on-push, catalog-on-pull-request

fix: increase build-container memory limits to 8Gi for Go compilation
  .tekton/operator-pull-request.yaml
  .tekton/operator-push.yaml
Due: none

fix konflux pipelines
  .tekton/bundle-push.yaml
  .tekton/catalog-push.yaml
  .tekton/operator-push.yaml
Due: catalog-on-pull-request

feat: multi-arch operator build (arm64+amd64) via Go cross-compilation
  .tekton/operator-push.yaml
Due: none

fix: restore output-image tag for OCI artifact storage, strip tag in build task
  .tekton/operator-push.yaml
Due: none

fix: strip oci: prefix from SOURCE_ARTIFACT before oras fetch
  .tekton/operator-push.yaml
Due: none

ci: apply multi-arch build-multiarch task to all pipelines
  .tekton/bundle-pull-request.yaml
  .tekton/bundle-push.yaml
  .tekton/catalog-pull-request.yaml
  .tekton/catalog-push.yaml
  .tekton/operator-pull-request.yaml
  .tekton/operator-push.yaml
Due: catalog-on-pull-request

Add konflux readme
  konflux/README.md
Due: none

demo: add Konflux CI readme
  konflux/DEMO.md
Due: none

reduce rbac scope
  config/manager/kustomization.yaml
  config/rbac/role.yaml
  config/rbac/role_binding.yaml
  hack/deploy-catalog.sh
  internal/controller/catalogimage/catalogimage_controller.go
  internal/controller/containerbuild/controller.go
  internal/controller/image/controller.go
  internal/controller/imagebuild/controller.go
  internal/controller/imagereseal/controller.go
  internal/controller/operatorconfig/controller.go
  internal/controller/workspace/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

chore: bump AIB image to 1.3.2
  api/v1alpha1/operatorconfig_types.go
  cmd/caib/README.md
  config/manifests/bases/automotive-dev-operator.clusterserviceversion.yaml
  docs/openapi.yaml
  internal/buildapi/openapi.yaml
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

refactor: extract uploads from server.go
  internal/buildapi/server.go
  internal/buildapi/server_upload_test.go
  internal/buildapi/uploads.go
  internal/buildapi/uploads_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

Add Apache License 2.0
  LICENSE
Due: none

fix: validate arch for builds
  internal/buildapi/internal_registry_test.go
  internal/buildapi/server.go
  internal/buildapi/types.go
  internal/controller/catalogimage/registry.go
  internal/controller/controllerutils/arch.go
  internal/controller/controllerutils/arch_test.go
  internal/controller/imagebuild/controller.go
  internal/controller/imagereseal/controller.go
  internal/controller/workspace/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

feat: split e2e tests into independently-runnable lanes
  .github/workflows/e2e-lanes.yml
  .gitignore
  Makefile
  cmd/build-api/main.go
  hack/run-e2e-local.sh
  internal/common/tasks/scripts/common.sh
  internal/common/tasks/scripts/push_artifact.sh
  internal/common/tasks/scripts/sealed_operation.sh
  test/e2e/README.md
  test/e2e/auth_test.go
  test/e2e/bootc_build_test.go
  test/e2e/e2e_suite_test.go
  test/e2e/e2e_test.go
  test/e2e/helpers_test.go
  test/e2e/operator_test.go
  test/utils/utils.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

refactor: extract validation
  internal/buildapi/build_spec.go
  internal/buildapi/build_validation.go
  internal/buildapi/build_validation_test.go
  internal/buildapi/manifest.go
  internal/buildapi/manifest_test.go
  internal/buildapi/server.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

ci: remove generated bundle/catalog from git; serial Konflux pipelines
  .gitignore
  .tekton/bundle-pull-request.yaml
  .tekton/bundle-push.yaml
  .tekton/catalog-pull-request.yaml
  .tekton/catalog-push.yaml
  bundle/manifests/ado-image-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/ado-image-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/ado-imagebuild-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/ado-imagebuild-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/ado-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/ado-operator-auth-delegator_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundle/manifests/ado-operator-metrics-service_v1_service.yaml
  bundle/manifests/ado-pipeline-pod-annotator_rbac.authorization.k8s.io_v1_role.yaml
  bundle/manifests/ado-pipeline-pod-annotator_rbac.authorization.k8s.io_v1_rolebinding.yaml
  bundle/manifests/ado-pipeline-privileged-scc_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundle/manifests/ado-pipeline-registry-editor_rbac.authorization.k8s.io_v1_rolebinding.yaml
  bundle/manifests/ado-scc-privileged-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/automotive-dev-operator.clusterserviceversion.yaml
  bundle/manifests/automotive.sdv.cloud.redhat.com_catalogimages.yaml
  bundle/manifests/automotive.sdv.cloud.redhat.com_containerbuilds.yaml
  bundle/manifests/automotive.sdv.cloud.redhat.com_imagebuilds.yaml
  bundle/manifests/automotive.sdv.cloud.redhat.com_imagereseals.yaml
  bundle/manifests/automotive.sdv.cloud.redhat.com_images.yaml
  bundle/manifests/automotive.sdv.cloud.redhat.com_operatorconfigs.yaml
  bundle/manifests/automotive.sdv.cloud.redhat.com_workspaces.yaml
  bundle/metadata/annotations.yaml
  bundle/tests/scorecard/config.yaml
  catalog/automotive-dev-operator.yaml
  konflux/defaults.env
  konflux/scripts/generate-bundle.sh
  konflux/scripts/generate-catalog.sh
  konflux/scripts/wait-for-image.sh
Due: bundle-on-push, catalog-on-pull-request

Fix catalog pipeline
  konflux/scripts/generate-catalog.sh
Due: none

remove external scripts
  .tekton/bundle-pull-request.yaml
  .tekton/bundle-push.yaml
  .tekton/catalog-pull-request.yaml
  .tekton/catalog-push.yaml
  konflux/scripts/generate-bundle.sh
  konflux/scripts/generate-catalog.sh
  konflux/scripts/wait-for-image.sh
Due: catalog-on-pull-request

Add unify pipeline for building with konflux
  .tekton/bundle-pull-request.yaml
  .tekton/bundle-push.yaml
  .tekton/catalog-pull-request.yaml
  .tekton/operator-pull-request.yaml
  .tekton/operator-push.yaml
  .tekton/release-pull-request.yaml
  .tekton/release-push.yaml
Due: catalog-on-pull-request

automotive-operator-konflux-fork update release
  .tekton/release-pull-request.yaml
  .tekton/release-push.yaml
Due: none
