Repository bkhizgiy/automotive-dev-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: aib-webui-on-pull-request, automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push, catalog-on-pull-request

Path conditions:
  aib-webui-on-pull-request: (any of: ^webui/.*) or (any of: ^\.tekton/aib-webui-.*\.yaml$)
  automotive-dev-operator-on-pull-request: (((any of: ^(api|internal|cmd)/.*) or (any of: ^Dockerfile$)) or (any of: ^go\.(mod|sum)$)) or (any of: ^\.tekton/automotive-dev-operator-.*\.yaml$)
  automotive-dev-operator-on-push: ((any of: ^(api|internal|cmd)/.*) or (any of: ^Dockerfile$)) or (any of: ^go\.(mod|sum)$)
  bundle-on-push: ((any of: ^bundle/.*) or (any of: ^config/.*)) or (any of: ^bundle\.Dockerfile$)
  catalog-on-pull-request: ((any of: ^catalog/.*) or (any of: ^catalog\.Dockerfile$)) or (any of: ^\.tekton/catalog-.*\.yaml$)

Remove seald cmd group and move to main
  api/v1alpha1/imagereseal_types.go
  api/v1alpha1/imagereseal_types_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/automotive.sdv.cloud.redhat.com_imagebuilds.yaml
  bundle/manifests/automotive.sdv.cloud.redhat.com_imagesealeds.yaml
  cmd/caib/main.go
  cmd/caib/sealed/extract_for_signing.go
  cmd/caib/sealed/inject_signed.go
  cmd/caib/sealed/prepare_reseal.go
  cmd/caib/sealed/reseal.go
  cmd/caib/sealed/sealed.go
  cmd/main.go
  config/crd/bases/automotive.sdv.cloud.redhat.com_imagereseals.yaml
  config/crd/kustomization.yaml
  config/manifests/bases/automotive-dev-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/buildapi/client/client.go
  internal/buildapi/server.go
  internal/buildapi/types.go
  internal/common/tasks/scripts/sealed_operation.sh
  internal/common/tasks/sealed_tasks_test.go
  internal/common/tasks/tasks.go
  internal/controller/imagereseal/controller.go
  internal/controller/test/imagereseal_controller_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

Fix the aib image used for tasks
  cmd/caib/main.go
  internal/common/tasks/scripts/sealed_operation.sh
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

Add more flags for reseal operations
  cmd/caib/main.go
  internal/buildapi/server.go
  internal/common/tasks/scripts/sealed_operation.sh
  internal/controller/imagereseal/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

Add auto detection for arch and match corect builder image by tag for sealing operations
  internal/common/tasks/scripts/sealed_operation.sh
  internal/controller/imagereseal/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

mount /sys to fix detection of privliges for bib
  internal/common/tasks/tasks.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

improve deploy-catalog.sh
  hack/deploy-catalog.sh
Due: none

dedup task scripts
  internal/common/tasks/scripts.go
  internal/common/tasks/scripts/build_builder.sh
  internal/common/tasks/scripts/build_image.sh
  internal/common/tasks/scripts/common.sh
  internal/common/tasks/tasks.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

use pigz instead gzip
  internal/common/tasks/scripts/build_image.sh
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

use --cache and --build-dir for build-builder
  internal/common/tasks/scripts/build_image.sh
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

consolidate prepare-builder into build-image
  .claude/skills/test-bootc-build/SKILL.md
  internal/common/tasks/scripts/build_image.sh
  internal/common/tasks/tasks.go
  internal/controller/imagebuild/controller.go
  internal/controller/operatorconfig/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

add progress reporting via pod annotations
  cmd/caib/main.go
  config/rbac/kustomization.yaml
  config/rbac/pipeline_pod_role.yaml
  config/rbac/pipeline_pod_rolebinding.yaml
  internal/buildapi/client/client.go
  internal/buildapi/openapi.yaml
  internal/buildapi/progress.go
  internal/buildapi/server.go
  internal/common/tasks/scripts.go
  internal/common/tasks/scripts/build_builder.sh
  internal/common/tasks/scripts/build_image.sh
  internal/common/tasks/scripts/common.sh
  internal/common/tasks/scripts/flash_image.sh
  internal/common/tasks/scripts/push_artifact.sh
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

use BUILDPLATFORM for building go source
  Dockerfile
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

Improve sealed tasks and add key option to operator config
  api/v1alpha1/imagesealed_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/automotive.sdv.cloud.redhat.com_imagesealeds.yaml
  cmd/caib/sealed/extract_for_signing.go
  cmd/caib/sealed/inject_signed.go
  cmd/caib/sealed/prepare_reseal.go
  cmd/caib/sealed/reseal.go
  cmd/caib/sealed/sealed.go
  config/crd/bases/automotive.sdv.cloud.redhat.com_imagesealeds.yaml
  internal/buildapi/server.go
  internal/buildapi/types.go
  internal/common/tasks/scripts/sealed_operation.sh
  internal/common/tasks/tasks.go
  internal/controller/imagesealed/controller.go
  internal/controller/operatorconfig/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

Add seal image operation to the controller
  bundle/manifests/automotive.sdv.cloud.redhat.com_imagebuilds.yaml
  config/crd/bases/automotive.sdv.cloud.redhat.com_imagesealeds.yaml
  config/crd/kustomization.yaml
  config/manifests/bases/automotive-dev-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/buildapi/client/client.go
  internal/buildapi/server.go
  internal/buildapi/types.go
  internal/common/tasks/scripts.go
  internal/common/tasks/tasks.go
  internal/controller/imagesealed/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

Fix functionality for image prepare-reseal
  api/v1alpha1/imagesealed_types.go
  cmd/caib/sealed/extract_for_signing.go
  cmd/caib/sealed/inject_signed.go
  cmd/caib/sealed/prepare_reseal.go
  cmd/caib/sealed/reseal.go
  cmd/caib/sealed/sealed.go
  config/crd/bases/automotive.sdv.cloud.redhat.com_imagesealeds.yaml
  internal/buildapi/server.go
  internal/buildapi/types.go
  internal/common/tasks/scripts/sealed_operation.sh
  internal/common/tasks/tasks.go
  internal/controller/imagesealed/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

Add seal/resel tekton tasks
  internal/common/tasks/scripts/sealed_operation.sh
  internal/controller/imagesealed/controller.go
  internal/controller/operatorconfig/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

Add unit testing to sealed image operations
  api/v1alpha1/imagesealed_types_test.go
  internal/common/tasks/sealed_tasks_test.go
  internal/controller/test/imagesealed_controller_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

Fix extract-for-signing and inject-signed tasks
  internal/common/tasks/scripts/sealed_operation.sh
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

sealed images: generate the key for the tasks
  api/v1alpha1/imagesealed_types.go
  cmd/caib/sealed/sealed.go
  config/crd/bases/automotive.sdv.cloud.redhat.com_imagesealeds.yaml
  internal/buildapi/server.go
  internal/buildapi/types.go
  internal/common/tasks/scripts/sealed_operation.sh
  internal/common/tasks/tasks.go
  internal/controller/imagesealed/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

Add seal image commands to caib CLI
  api/v1alpha1/imagesealed_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/automotive.sdv.cloud.redhat.com_imagesealeds.yaml
  cmd/caib/main.go
  cmd/caib/sealed/extract_for_signing.go
  cmd/caib/sealed/inject_signed.go
  cmd/caib/sealed/prepare_reseal.go
  cmd/caib/sealed/reseal.go
  cmd/caib/sealed/sealed.go
  cmd/main.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

Fix linting errors for sealed images
  bundle/manifests/automotive.sdv.cloud.redhat.com_imagesealeds.yaml
  cmd/caib/sealed/prepare_reseal.go
  cmd/caib/sealed/reseal.go
  cmd/caib/sealed/sealed.go
  internal/buildapi/client/client.go
  internal/buildapi/server.go
  internal/buildapi/types.go
  internal/controller/imagesealed/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

Fix sealed secret validation
  internal/buildapi/server.go
  internal/common/tasks/scripts/sealed_operation.sh
  internal/common/tasks/tasks.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

Improve sealed operation code
  internal/buildapi/server.go
  internal/common/tasks/scripts/sealed_operation.sh
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

Fix sealed operation bugs
  cmd/caib/main.go
  cmd/caib/sealed/extract_for_signing.go
  cmd/caib/sealed/inject_signed.go
  cmd/caib/sealed/sealed.go
  cmd/main.go
  internal/buildapi/server.go
  internal/common/tasks/scripts/sealed_operation.sh
  internal/common/tasks/sealed_tasks_test.go
  internal/common/tasks/tasks.go
  internal/controller/imagesealed/controller.go
  internal/controller/test/imagesealed_controller_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

Fix sealed linter issues
  internal/buildapi/server.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

sealed operation pre-pull builder image
  internal/common/tasks/scripts/sealed_operation.sh
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

Fix for BUILDPLATFORM
  Dockerfile
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

Fix BUILDPLATFORM wrong detection
  Dockerfile
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

add coderabbit filters
  .coderabbit.yaml
Due: none

add internal registry support and restructure container CLI
  .dockerignore
  api/v1alpha1/containerbuild_types.go
  cmd/caib/container/build.go
  cmd/caib/container/container.go
  cmd/caib/container/context.go
  cmd/caib/container/display.go
  cmd/caib/container/logs.go
  cmd/caib/container/utilities.go
  cmd/caib/main.go
  cmd/caib/ui/progress.go
  config/crd/bases/automotive.sdv.cloud.redhat.com_containerbuilds.yaml
  internal/buildapi/client/client.go
  internal/buildapi/server.go
  internal/buildapi/types.go
  internal/controller/containerbuild/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

extract container build handlers to dedicated file
  cmd/caib/container/build.go
  cmd/caib/container/container.go
  cmd/caib/container/context.go
  cmd/caib/container/logs.go
  cmd/caib/container/utilities.go
  cmd/caib/main.go
  cmd/caib/ui/progress.go
  internal/buildapi/container_builds.go
  internal/buildapi/server.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

add tests
  cmd/caib/container/build_test.go
  cmd/caib/container/utilities_test.go
  internal/buildapi/container_builds_test.go
  internal/controller/containerbuild/controller_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

make container build upload timeout configurable via OperatorConfig
  api/v1alpha1/operatorconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  catalogsource.yaml
  cmd/caib/container/build.go
  config/crd/bases/automotive.sdv.cloud.redhat.com_operatorconfigs.yaml
  internal/controller/containerbuild/controller.go
  internal/controller/operatorconfig/controller.go
  internal/controller/operatorconfig/resources.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

Add validation for manifest file type in caib
  cmd/caib/main.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

restore wait/follow behavior
  cmd/caib/main.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push
