Repository bkhizgiy/automotive-dev-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: aib-webui-on-pull-request, automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push, catalog-on-pull-request

Path conditions:
  aib-webui-on-pull-request: (any of: ^webui/.*) or (any of: ^\.tekton/aib-webui-.*\.yaml$)
  automotive-dev-operator-on-pull-request: (((any of: ^(api|internal|cmd)/.*) or (any of: ^Dockerfile$)) or (any of: ^go\.(mod|sum)$)) or (any of: ^\.tekton/automotive-dev-operator-.*\.yaml$)
  automotive-dev-operator-on-push: ((any of: ^(api|internal|cmd)/.*) or (any of: ^Dockerfile$)) or (any of: ^go\.(mod|sum)$)
  bundle-on-push: ((any of: ^bundle/.*) or (any of: ^config/.*)) or (any of: ^bundle\.Dockerfile$)
  catalog-on-pull-request: ((any of: ^catalog/.*) or (any of: ^catalog\.Dockerfile$)) or (any of: ^\.tekton/catalog-.*\.yaml$)

initial jumpstarter integration
  api/v1alpha1/operatorconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/automotive-dev-operator.clusterserviceversion.yaml
  bundle/manifests/automotive.sdv.cloud.redhat.com_operatorconfigs.yaml
  cmd/caib/main.go
  cmd/main.go
  config/crd/bases/automotive.sdv.cloud.redhat.com_operatorconfigs.yaml
  config/rbac/role.yaml
  internal/buildapi/server.go
  internal/buildapi/types.go
  internal/controller/operatorconfig/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

Improve detectJumpstarter error resilience
  internal/controller/operatorconfig/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

remove --registry- flags
  cmd/caib/README.md
  cmd/caib/main.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

improve registry detection
  cmd/caib/main.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

fix missing settings handling
  cmd/caib/main.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

remove artifact serving feature
  api/v1alpha1/imagebuild_types.go
  api/v1alpha1/operatorconfig_types.go
  bundle/manifests/automotive.sdv.cloud.redhat.com_imagebuilds.yaml
  bundle/manifests/automotive.sdv.cloud.redhat.com_operatorconfigs.yaml
  cmd/caib/main.go
  config/crd/bases/automotive.sdv.cloud.redhat.com_imagebuilds.yaml
  config/crd/bases/automotive.sdv.cloud.redhat.com_operatorconfigs.yaml
  config/samples/automotive_v1_imagebuild.yaml
  config/samples/automotive_v1_operatorconfig.yaml
  docs/openapi.yaml
  internal/buildapi/openapi.yaml
  internal/buildapi/server.go
  internal/buildapi/server_test.go
  internal/buildapi/types.go
  internal/common/tasks/tasks.go
  internal/controller/imagebuild/controller.go
  internal/controller/operatorconfig/controller.go
  test/e2e/e2e_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

adjust imagebuild api
  api/v1alpha1/imagebuild_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/automotive.sdv.cloud.redhat.com_imagebuilds.yaml
  internal/buildapi/catalog/handlers.go
  internal/buildapi/server.go
  internal/controller/catalogimage/publisher.go
  internal/controller/imagebuild/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

remove cs9 from suggestions
  api/v1alpha1/catalogimage_types.go
  api/v1alpha1/imagebuild_types.go
  bundle/manifests/automotive.sdv.cloud.redhat.com_catalogimages.yaml
  bundle/manifests/automotive.sdv.cloud.redhat.com_imagebuilds.yaml
  config/crd/bases/automotive.sdv.cloud.redhat.com_catalogimages.yaml
  config/crd/bases/automotive.sdv.cloud.redhat.com_imagebuilds.yaml
  config/samples/automotive_v1_imagebuild.yaml
  internal/buildapi/server.go
  internal/common/tasks/tasks.go
  internal/controller/imagebuild/controller.go
  test/e2e/e2e_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

fix extra args
  api/v1alpha1/imagebuild_types.go
  bundle/manifests/automotive.sdv.cloud.redhat.com_imagebuilds.yaml
  cmd/caib/main.go
  config/crd/bases/automotive.sdv.cloud.redhat.com_imagebuilds.yaml
  internal/buildapi/server.go
  internal/common/tasks/scripts/build_image.sh
  internal/common/tasks/scripts/push_artifact.sh
  internal/common/tasks/tasks.go
  internal/controller/imagebuild/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

fix: update 'mode' flag to optional
  cmd/caib/main.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

fix: update buildDevCmd 'mode' usage
  cmd/caib/main.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

fix: update build-dev default mode to package
  cmd/caib/main.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

fix: enhance build mode validation
  cmd/caib/main.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

basic jumpstarter integration
  .claude/agents/aib-expert.md
  .github/workflows/e2e.yml
  api/v1alpha1/imagebuild_types.go
  api/v1alpha1/operatorconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/automotive.sdv.cloud.redhat.com_imagebuilds.yaml
  bundle/manifests/automotive.sdv.cloud.redhat.com_operatorconfigs.yaml
  cmd/caib/main.go
  config/crd/bases/automotive.sdv.cloud.redhat.com_imagebuilds.yaml
  config/crd/bases/automotive.sdv.cloud.redhat.com_operatorconfigs.yaml
  config/samples/automotive_v1_image_http.yaml
  config/samples/automotive_v1_operatorconfig.yaml
  go.mod
  go.sum
  hack/deploy-catalog.sh
  internal/buildapi/client/client.go
  internal/buildapi/server.go
  internal/buildapi/types.go
  internal/common/tasks/scripts.go
  internal/common/tasks/scripts/flash_image.sh
  internal/common/tasks/tasks.go
  internal/controller/imagebuild/controller.go
  internal/controller/operatorconfig/controller.go
  vendor/github.com/mitchellh/colorstring/.travis.yml
  vendor/github.com/mitchellh/colorstring/LICENSE
  vendor/github.com/mitchellh/colorstring/README.md
  vendor/github.com/mitchellh/colorstring/colorstring.go
  vendor/github.com/schollz/progressbar/v3/.gitignore
  vendor/github.com/schollz/progressbar/v3/.golangci.yml
  vendor/github.com/schollz/progressbar/v3/.travis.yml
  vendor/github.com/schollz/progressbar/v3/LICENSE
  vendor/github.com/schollz/progressbar/v3/README.md
  vendor/github.com/schollz/progressbar/v3/progressbar.go
  vendor/github.com/schollz/progressbar/v3/spinners.go
  vendor/modules.txt
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

Add support for OIDC in the operator
  Dockerfile
  cmd/caib/auth/config.go
  cmd/caib/auth/oidc.go
  cmd/caib/auth/wrapper.go
  cmd/caib/main.go
  go.mod
  go.sum
  internal/buildapi/auth_config.go
  internal/buildapi/client/client.go
  internal/buildapi/client_tokens.go
  internal/buildapi/internal_jwt.go
  internal/buildapi/server.go
  internal/controller/operatorconfig/controller.go
  internal/controller/operatorconfig/resources.go
  vendor/modules.txt
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

Fix OIDC changes linter issues
  cmd/caib/auth/config.go
  cmd/caib/auth/oidc.go
  internal/buildapi/auth_config.go
  internal/buildapi/server.go
  internal/controller/operatorconfig/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

Improve OIDC implemantation
  cmd/caib/auth/config.go
  cmd/caib/auth/oidc.go
  cmd/caib/auth/wrapper.go
  cmd/caib/main.go
  internal/buildapi/client/client.go
  internal/buildapi/internal_jwt.go
  internal/buildapi/server.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

Add test coverage for OIDC integration
  cmd/caib/auth/config_test.go
  cmd/caib/auth/suite_test.go
  cmd/caib/auth/wrapper_test.go
  internal/buildapi/client/client_test.go
  internal/buildapi/internal_jwt_test.go
  test/e2e/e2e_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

Add OIDC operatorconfig info
  api/v1alpha1/operatorconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/caib/auth/config.go
  cmd/caib/auth/config_test.go
  config/crd/bases/automotive.sdv.cloud.redhat.com_operatorconfigs.yaml
  config/samples/automotive_v1_operatorconfig.yaml
  internal/buildapi/auth_config.go
  internal/buildapi/integration_test.go
  internal/buildapi/internal_jwt_test.go
  internal/buildapi/server.go
  internal/controller/operatorconfig/controller.go
  internal/controller/operatorconfig/resources.go
  internal/controller/operatorconfig/resources_test.go
  test/e2e/e2e_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

Add OIDC operatorconfig info
  api/v1alpha1/operatorconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/automotive.sdv.cloud.redhat.com_operatorconfigs.yaml
  cmd/caib/auth/config.go
  cmd/caib/auth/config_test.go
  config/crd/bases/automotive.sdv.cloud.redhat.com_operatorconfigs.yaml
  config/samples/automotive_v1_operatorconfig.yaml
  internal/buildapi/auth_config.go
  internal/buildapi/integration_test.go
  internal/buildapi/internal_jwt_test.go
  internal/buildapi/server.go
  internal/controller/operatorconfig/controller.go
  internal/controller/operatorconfig/resources.go
  internal/controller/operatorconfig/resources_test.go
  test/e2e/e2e_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

Add option for caib CAIB_INSECURE_TLS=true for testing and insecure conection
  cmd/caib/auth/config.go
  cmd/caib/auth/oidc.go
  cmd/caib/auth/wrapper.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

Add fixes to OIDC flow
  Dockerfile
  cmd/caib/auth/config.go
  cmd/caib/auth/oidc.go
  cmd/caib/auth/wrapper.go
  cmd/caib/main.go
  internal/buildapi/auth_config.go
  internal/buildapi/client_tokens.go
  internal/buildapi/server.go
  internal/controller/operatorconfig/resources.go
  test/e2e/e2e_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

Add minor fixes to the OIDC flow and token rotation
  cmd/caib/auth/config.go
  cmd/caib/auth/oidc.go
  internal/controller/operatorconfig/controller.go
  test/e2e/e2e_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

Fix internal token passing and remove cancel ctx
  cmd/caib/auth/config.go
  cmd/caib/auth/oidc.go
  cmd/caib/main.go
  internal/buildapi/auth_config.go
  internal/buildapi/client_tokens.go
  internal/buildapi/server.go
  internal/controller/operatorconfig/resources.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

use multi layer push
  cmd/caib/main.go
  internal/common/tasks/scripts/build_image.sh
  internal/common/tasks/scripts/push_artifact.sh
  internal/common/tasks/tasks.go
  internal/controller/imagebuild/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

prepare operator release
  .github/workflows/build.yml
  .gitignore
  Makefile
  api/v1alpha1/catalogimage_types.go
  bundle/manifests/automotive-dev-operator.clusterserviceversion.yaml
  bundle/manifests/automotive.sdv.cloud.redhat.com_catalogimages.yaml
  catalog/automotive-dev-operator.yaml
  config/crd/bases/automotive.sdv.cloud.redhat.com_catalogimages.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/automotive-dev-operator.clusterserviceversion.yaml
  config/samples/automotive_v1alpha1_catalogimage.yaml
  config/samples/automotive_v1alpha1_image.yaml
  config/samples/kustomization.yaml
  hack/prepare-release.sh
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push, catalog-on-pull-request

fix file upload
  internal/controller/imagebuild/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

fix comments and add release branch support
  .github/workflows/build.yml
  .github/workflows/e2e.yml
  .github/workflows/lint.yml
  Makefile
  config/manager/manager.yaml
  config/manifests/bases/automotive-dev-operator.clusterserviceversion.yaml
  docs/releasing.md
  hack/create-patch-release.sh
  hack/create-release-branch.sh
  hack/prepare-release.sh
Due: bundle-on-push

add a jumpstarter namespace field
  api/v1alpha1/operatorconfig_types.go
  bundle/manifests/automotive.sdv.cloud.redhat.com_operatorconfigs.yaml
  config/crd/bases/automotive.sdv.cloud.redhat.com_operatorconfigs.yaml
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

Fix token regeneration time if config wasn't changed
  internal/buildapi/auth_config.go
  internal/buildapi/server.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

fix build-caib jobs
  .github/workflows/build.yml
Due: none

update CRDs to comply with catalog
  bundle/manifests/automotive-dev-operator.clusterserviceversion.yaml
  config/manifests/bases/automotive-dev-operator.clusterserviceversion.yaml
Due: bundle-on-push

make changes according to operatorhub review
  .github/workflows/build.yml
  Makefile
  bundle/manifests/automotive-dev-operator.clusterserviceversion.yaml
  config/manifests/bases/automotive-dev-operator.clusterserviceversion.yaml
  docs/releasing.md
  hack/prepare-release.sh
Due: bundle-on-push

update icon
  bundle/manifests/automotive-dev-operator.clusterserviceversion.yaml
  config/manifests/bases/automotive-dev-operator.clusterserviceversion.yaml
Due: bundle-on-push

fix minKubeVersion
  bundle/manifests/automotive-dev-operator.clusterserviceversion.yaml
  config/manifests/bases/automotive-dev-operator.clusterserviceversion.yaml
Due: bundle-on-push

makefile: properly replace image tag
  Makefile
Due: none

fix deploy-catalog.sh
  hack/deploy-catalog.sh
Due: none
