Repository bkhizgiy/automotive-dev-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: aib-webui-on-pull-request, automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push, catalog-on-pull-request

aib-webui-on-pull-request:
  params:
  - name: git-url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/rh-sdv-cloud/aib-webui:pr-{{pull_request_number}}-{{revision_short}}
  - name: dockerfile
    value: webui/Dockerfile
  - name: path-context
    value: webui
  pipelineSpec:
  ...

automotive-dev-operator-on-pull-request:
  params:
  - name: git-url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/rh-sdv-cloud/automotive-dev-operator:pr-{{pull_request_number}}-{{revision_short}}
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: .
  pipelineSpec:
  ...

automotive-dev-operator-on-push:
  params:
  - name: git-url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/rh-sdv-cloud/automotive-dev-operator:{{revision_short}}
  - name: output-image-tag
    value: quay.io/rh-sdv-cloud/automotive-dev-operator:latest
  - name: dockerfile
  ...

bundle-on-push:
  params:
  - name: git-url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/rh-sdv-cloud/automotive-dev-operator-bundle:{{revision_short}}
  - name: output-image-tag
    value: quay.io/rh-sdv-cloud/automotive-dev-operator-bundle:latest
  ...

catalog-on-pull-request:
  params:
  - name: git-url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/rh-sdv-cloud/automotive-dev-operator-catalog:pr-{{pull_request_number}}-{{revision_short}}
  - name: dockerfile
    value: catalog.Dockerfile
  - name: path-context
    value: .
  ...

fix: use WATCH_NAMESPACE instead of OPERATOR_NAMESPACE for consistency
  cmd/caib/config/config_test.go
  internal/controller/containerbuild/controller_test.go
  internal/controller/controllerutils/namespace.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

add ocp-4.21 compat
  config/manifests/bases/automotive-dev-operator.clusterserviceversion.yaml
Due: bundle-on-push

fix flash cmd rendering
  internal/common/tasks/scripts/flash_image.sh
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

refactor: extract sealed operations from server.go
  internal/buildapi/sealed.go
  internal/buildapi/sealed_secrets.go
  internal/buildapi/sealed_secrets_test.go
  internal/buildapi/sealed_test.go
  internal/buildapi/server.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

fix: address review feedback — remove auto-builder, fix go fmt
  cmd/caib/config/config.go
  cmd/caib/config/config_test.go
  internal/controller/controllerutils/namespace.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

add cosign key to verify bundle
  .github/workflows/build.yml
  Makefile
  hack/cosign.pub
Due: none

feat: add initial metrics and observability for sealed operations
  internal/buildapi/sealed.go
  internal/buildapi/sealed_metrics.go
  internal/buildapi/sealed_metrics_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

caib: add --define-file
  cmd/caib/buildcmd/build.go
  cmd/caib/buildcmd/build_define_test.go
  cmd/caib/buildcmd/build_disk_test.go
  cmd/caib/common/define_file.go
  cmd/caib/common/define_file_test.go
  cmd/caib/image/image.go
  cmd/caib/main.go
  cmd/caib/runtime_wiring.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

refactor: extract helpers and auth from server.go
  internal/buildapi/auth.go
  internal/buildapi/container_builds.go
  internal/buildapi/flash.go
  internal/buildapi/helpers.go
  internal/buildapi/log_streaming.go
  internal/buildapi/sealed.go
  internal/buildapi/server.go
  internal/buildapi/workspace.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

fix: simplify flasher metrics tests
  internal/buildapi/flash_metrics_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

feat: Add validation for provided URL when running caib login
  cmd/caib/login.go
  cmd/caib/login_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

feat: add sample dashboard for build,flash and seald operations
  config/samples/monitoring/perses-dashboard.yaml
  internal/controller/operatorconfig/controller.go
  internal/controller/operatorconfig/controller_test.go
  internal/controller/operatorconfig/resources.go
  internal/controller/operatorconfig/resources_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

revert: drop operatorconfig changes unrelated to dashboard sample
  config/samples/monitoring/perses-dashboard.yaml
  internal/controller/operatorconfig/controller.go
  internal/controller/operatorconfig/controller_test.go
  internal/controller/operatorconfig/resources.go
  internal/controller/operatorconfig/resources_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

bug: fix sealed task scc and SA
  internal/controller/imagereseal/controller.go
  internal/controller/imagereseal/trusted_ca_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

improve READMEs
  README.md
  cmd/caib/README.md
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

fix: fix incorrect progressing state on expired builds
  internal/controller/imagebuild/controller.go
  internal/controller/imagebuild/expiry_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

pre-seed metrics from imagebuilds
  api/v1alpha1/imagebuild_types.go
  config/crd/bases/automotive.sdv.cloud.redhat.com_imagebuilds.yaml
  internal/controller/imagebuild/controller.go
  internal/controller/imagebuild/metrics.go
  internal/controller/imagebuild/metrics_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

fix: auto-discover auth file for ORAS referrers discovery
  cmd/caib/inspectcmd/inspect.go
  cmd/caib/registryauth/loader.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

docs: add --reproducible, --secure, cosign verification, and image inspect docs
  cmd/caib/README.md
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

feat: add cosign signature verification for Tekton Bundles
  api/v1alpha1/operatorconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/automotive.sdv.cloud.redhat.com_operatorconfigs.yaml
  config/crd/bases/automotive.sdv.cloud.redhat.com_workspaces.yaml
  internal/buildapi/bundle_verify_test.go
  internal/buildapi/server.go
  internal/common/bundleverify/verify.go
  internal/common/bundleverify/verify_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

feat: add cosign bundle verification in controller reconciler
  internal/controller/imagebuild/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

fix: don't mark transient bundle verify failures as terminal
  internal/controller/imagebuild/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

feat: Add konflux building pipeline for operator, bundle and catalog
  .tekton/bundle-push.yaml
  .tekton/catalog-push.yaml
  .tekton/operator-pull-request.yaml
  .tekton/operator-push.yaml
Due: catalog-on-pull-request

automotive-operator-konflux-fork update operator
  .tekton/operator-pull-request.yaml
  .tekton/operator-push.yaml
Due: none

automotive-operator-konflux-fork update catalog
  .tekton/catalog-pull-request.yaml
Due: catalog-on-pull-request

automotive-operator-konflux-fork update bundle
  .tekton/bundle-pull-request.yaml
Due: none

ci: fix pipeline resolver to use git instead of bundles
  .tekton/bundle-push.yaml
  .tekton/catalog-push.yaml
  .tekton/operator-pull-request.yaml
  .tekton/operator-push.yaml
Due: catalog-on-pull-request

ci: use bundles resolver with devel tag
  .tekton/bundle-push.yaml
  .tekton/catalog-push.yaml
  .tekton/operator-pull-request.yaml
  .tekton/operator-push.yaml
Due: catalog-on-pull-request

docs: add instructions on how to sign images
  api/v1alpha1/operatorconfig_types.go
  docs/workspace-image-security.md
  internal/common/bundleverify/verify.go
  internal/controller/workspace/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

fix: resolve -f containerfile path relative to CWD
  cmd/caib/container/build.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

fix: retry waiter done command for lock file race
  internal/buildapi/container_builds.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

fix: always pass dockerfile param to Shipwright BuildRun
  internal/controller/containerbuild/controller.go
  internal/controller/containerbuild/controller_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

Path conditions:
  aib-webui-on-pull-request: (any of: ^webui/.*) or (any of: ^\.tekton/aib-webui-.*\.yaml$)
  automotive-dev-operator-on-pull-request: (((any of: ^(api|internal|cmd)/.*) or (any of: ^Dockerfile$)) or (any of: ^go\.(mod|sum)$)) or (any of: ^\.tekton/automotive-dev-operator-.*\.yaml$)
  automotive-dev-operator-on-push: ((any of: ^(api|internal|cmd)/.*) or (any of: ^Dockerfile$)) or (any of: ^go\.(mod|sum)$)
  bundle-on-push: ((any of: ^bundle/.*) or (any of: ^config/.*)) or (any of: ^bundle\.Dockerfile$)
  catalog-on-pull-request: ((any of: ^catalog/.*) or (any of: ^catalog\.Dockerfile$)) or (any of: ^\.tekton/catalog-.*\.yaml$)
