Repository bkhizgiy/automotive-dev-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: aib-webui-on-pull-request, automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push, catalog-on-pull-request

Path conditions:
  aib-webui-on-pull-request: (any of: ^webui/.*) or (any of: ^\.tekton/aib-webui-.*\.yaml$)
  automotive-dev-operator-on-pull-request: (((any of: ^(api|internal|cmd)/.*) or (any of: ^Dockerfile$)) or (any of: ^go\.(mod|sum)$)) or (any of: ^\.tekton/automotive-dev-operator-.*\.yaml$)
  automotive-dev-operator-on-push: ((any of: ^(api|internal|cmd)/.*) or (any of: ^Dockerfile$)) or (any of: ^go\.(mod|sum)$)
  bundle-on-push: ((any of: ^bundle/.*) or (any of: ^config/.*)) or (any of: ^bundle\.Dockerfile$)
  catalog-on-pull-request: ((any of: ^catalog/.*) or (any of: ^catalog\.Dockerfile$)) or (any of: ^\.tekton/catalog-.*\.yaml$)

fix traditional build
  bundle/manifests/automotive-dev-operator.clusterserviceversion.yaml
  catalog/automotive-dev-operator.yaml
  internal/common/tasks/scripts/build_image.sh
  internal/common/tasks/tasks.go
  internal/controller/imagebuild/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push, catalog-on-pull-request

add CLAUDE.md
  CLAUDE.md
Due: none

docs: add automotive operator constitution v1.0.0 (governance principles)
  .claude/commands/speckit.analyze.md
  .claude/commands/speckit.checklist.md
  .claude/commands/speckit.clarify.md
  .claude/commands/speckit.constitution.md
  .claude/commands/speckit.implement.md
  .claude/commands/speckit.plan.md
  .claude/commands/speckit.specify.md
  .claude/commands/speckit.tasks.md
  .claude/commands/speckit.taskstoissues.md
  .specify/memory/constitution.md
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/templates/agent-file-template.md
  .specify/templates/checklist-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
Due: none

update CRD
  api/v1alpha1/catalogimage_types.go
  config/crd/bases/automotive.sdv.cloud.redhat.com_catalogimages.yaml
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

fix --follow
  bundle/manifests/automotive-dev-operator.clusterserviceversion.yaml
  catalog/automotive-dev-operator.yaml
  cmd/caib/main.go
  internal/buildapi/server.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push, catalog-on-pull-request

remove kernelVersion
  api/v1alpha1/catalogimage_types.go
  cmd/caib/catalog/add.go
  config/crd/bases/automotive.sdv.cloud.redhat.com_catalogimages.yaml
  internal/buildapi/catalog/handlers.go
  internal/buildapi/catalog/models.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

add caib e2e test
  .github/workflows/e2e.yml
  Makefile
  config/manager/kustomization.yaml
  internal/controller/imagebuild/controller.go
  internal/controller/operatorconfig/resources.go
  test/e2e/e2e_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

fix labelSelector
  internal/buildapi/server.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

initial implementation of image catalog
  CLAUDE.md
  api/v1alpha1/catalogimage_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/caib/catalog/add.go
  cmd/caib/catalog/catalog.go
  cmd/caib/catalog/get.go
  cmd/caib/catalog/list.go
  cmd/caib/catalog/publish.go
  cmd/caib/catalog/remove.go
  cmd/caib/catalog/verify.go
  cmd/caib/main.go
  cmd/main.go
  config/crd/bases/automotive.sdv.cloud.redhat.com_catalogimages.yaml
  config/rbac/role.yaml
  internal/buildapi/catalog/handlers.go
  internal/buildapi/catalog/models.go
  internal/buildapi/catalog/routes.go
  internal/controller/catalogimage/audit.go
  internal/controller/catalogimage/catalogimage_controller.go
  internal/controller/catalogimage/circuit_breaker.go
  internal/controller/catalogimage/metrics.go
  internal/controller/catalogimage/publisher.go
  internal/controller/catalogimage/registry.go
  specs/001-image-catalog/checklists/requirements.md
  specs/001-image-catalog/contracts/api-spec.yaml
  specs/001-image-catalog/contracts/cli-commands.md
  specs/001-image-catalog/data-model.md
  specs/001-image-catalog/plan.md
  specs/001-image-catalog/quickstart.md
  specs/001-image-catalog/research.md
  specs/001-image-catalog/spec.md
  specs/001-image-catalog/tasks.md
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

fix: add CatalogImage CRD to kustomization resources
  api/v1alpha1/catalogimage_types.go
  bundle/manifests/automotive.sdv.cloud.redhat.com_catalogimages.yaml
  config/crd/kustomization.yaml
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

rename bootc field
  api/v1alpha1/catalogimage_types.go
  cmd/caib/catalog/add.go
  config/crd/bases/automotive.sdv.cloud.redhat.com_catalogimages.yaml
  internal/buildapi/catalog/handlers.go
  internal/buildapi/catalog/models.go
  internal/controller/catalogimage/catalogimage_controller.go
  internal/controller/catalogimage/publisher.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

remove override args, update tag and use -f for Dockerfile
  Makefile
  hack/deploy-catalog.sh
  internal/buildapi/server.go
  internal/buildapi/types.go
  internal/common/tasks/scripts/build_image.sh
  webui/src/components/CreateBuildPage.tsx
Due: aib-webui-on-pull-request, automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

update aib-expert agent
  .claude/agents/aib-expert.md
Due: none

add limits to various fields
  api/v1alpha1/operatorconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/build-api/main.go
  config/crd/bases/automotive.sdv.cloud.redhat.com_operatorconfigs.yaml
  internal/buildapi/server.go
  internal/common/tasks/scripts/build_image.sh
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

fix output file name
  cmd/caib/main.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

improve README and operator readiness
  README.md
  bundle.Dockerfile
  bundle/manifests/automotive-dev-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  bundle/metadata/dependencies.yaml
  catalog/automotive-dev-operator.yaml
  hack/deploy-catalog.sh
Due: bundle-on-push, catalog-on-pull-request

remove speckit
  .specify/memory/constitution.md
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/templates/agent-file-template.md
  .specify/templates/checklist-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
  specs/001-image-catalog/checklists/requirements.md
  specs/001-image-catalog/contracts/api-spec.yaml
  specs/001-image-catalog/contracts/cli-commands.md
  specs/001-image-catalog/data-model.md
  specs/001-image-catalog/plan.md
  specs/001-image-catalog/quickstart.md
  specs/001-image-catalog/research.md
  specs/001-image-catalog/spec.md
  specs/001-image-catalog/tasks.md
Due: none

add agents
  .claude/agents/aib-expert.md
  .claude/agents/code-simplifier.md
Due: none

improve deploy-catalog.sh
  hack/deploy-catalog.sh
Due: none

fix download
  api/v1alpha1/crd_schema_test.go
  bundle/manifests/automotive-dev-operator.clusterserviceversion.yaml
  catalog/automotive-dev-operator.yaml
  hack/deploy-catalog.sh
  internal/common/tasks/tasks.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push, catalog-on-pull-request

fix disk image push
  bundle/manifests/automotive-dev-operator.clusterserviceversion.yaml
  catalog/automotive-dev-operator.yaml
  cmd/caib/main.go
  internal/buildapi/server.go
  internal/common/tasks/scripts/build_image.sh
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push, catalog-on-pull-request

use provided name as tag
  internal/common/tasks/scripts/build_image.sh
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

--follow by default
  cmd/caib/main.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

fix log streaming client side
  cmd/caib/main.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

fix log following
  bundle/manifests/automotive-dev-operator.clusterserviceversion.yaml
  catalog/automotive-dev-operator.yaml
  internal/buildapi/server.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push, catalog-on-pull-request

integrate catalog API routes into build-api server
  Dockerfile
  bundle/manifests/automotive-dev-operator.clusterserviceversion.yaml
  catalog/automotive-dev-operator.yaml
  internal/buildapi/server.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push, catalog-on-pull-request

simplify CLI
  cmd/caib/main.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

fix arg text
  bundle/manifests/automotive-dev-operator.clusterserviceversion.yaml
  catalog/automotive-dev-operator.yaml
  cmd/caib/README.md
  cmd/caib/main.go
  internal/buildapi/server.go
  internal/buildapi/types.go
  internal/common/tasks/scripts/build_image.sh
  internal/controller/imagebuild/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push, catalog-on-pull-request

improve secret handling
  internal/buildapi/server.go
  internal/controller/imagebuild/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

clean caib API
  .claude/skills/test-bootc-build/SKILL.md
  api/v1alpha1/imagebuild_types.go
  bundle.Dockerfile
  bundle/manifests/automotive-dev-operator.clusterserviceversion.yaml
  bundle/manifests/automotive.sdv.cloud.redhat.com_catalogimages.yaml
  bundle/manifests/automotive.sdv.cloud.redhat.com_imagebuilds.yaml
  bundle/metadata/annotations.yaml
  cmd/caib/main.go
  config/crd/bases/automotive.sdv.cloud.redhat.com_imagebuilds.yaml
  config/manager/kustomization.yaml
  internal/buildapi/server.go
  internal/buildapi/types.go
  internal/common/tasks/scripts/build_builder.sh
  internal/common/tasks/scripts/build_image.sh
  internal/common/tasks/tasks.go
  internal/controller/imagebuild/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

add skills for testing
  .claude/skills/test-traditional-build/SKILL.md
Due: none

fix: restrict controller-gen paths to avoid gpgme dependency
  Makefile
Due: none

update caib README
  cmd/caib/README.md
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

rename traditional to dev
  .claude/skills/test-traditional-build/SKILL.md
  bundle/manifests/automotive-dev-operator.clusterserviceversion.yaml
  bundle/manifests/automotive.sdv.cloud.redhat.com_operatorconfigs.yaml
  catalog/automotive-dev-operator.yaml
  cmd/caib/README.md
  cmd/caib/main.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push, catalog-on-pull-request

fix log streaming and deploy-catalog.sh
  cmd/caib/main.go
  config/manager/manager.yaml
  hack/deploy-catalog.sh
  internal/buildapi/server.go
  internal/common/tasks/scripts/build_image.sh
  internal/common/tasks/scripts/push_artifact.sh
  internal/controller/operatorconfig/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

rename sample to config so it correctly detected by controller
  config/samples/automotive_v1_operatorconfig.yaml
Due: bundle-on-push

add support for nodeSelection for builder
  api/v1alpha1/operatorconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/automotive.sdv.cloud.redhat.com_operatorconfigs.yaml
  config/crd/bases/automotive.sdv.cloud.redhat.com_operatorconfigs.yaml
  config/samples/automotive_v1_operatorconfig.yaml
  internal/controller/imagebuild/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

add debug annotation of pipelines
  CLAUDE.md
  DEVELOPMENT.md
  internal/controller/operatorconfig/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

add support for tolerations
  api/v1alpha1/operatorconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/automotive.sdv.cloud.redhat.com_operatorconfigs.yaml
  config/crd/bases/automotive.sdv.cloud.redhat.com_operatorconfigs.yaml
  config/samples/automotive_v1_operatorconfig.yaml
  internal/controller/imagebuild/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push
