Repository bkhizgiy/automotive-dev-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: aib-webui-on-pull-request, automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push, catalog-on-pull-request

aib-webui-on-pull-request:
  params:
  - name: git-url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/rh-sdv-cloud/aib-webui:pr-{{pull_request_number}}-{{revision_short}}
  - name: dockerfile
    value: webui/Dockerfile
  - name: path-context
    value: webui
  pipelineSpec:
  ...

automotive-dev-operator-on-pull-request:
  params:
  - name: git-url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/rh-sdv-cloud/automotive-dev-operator:pr-{{pull_request_number}}-{{revision_short}}
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: .
  pipelineSpec:
  ...

automotive-dev-operator-on-push:
  params:
  - name: git-url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/rh-sdv-cloud/automotive-dev-operator:{{revision_short}}
  - name: output-image-tag
    value: quay.io/rh-sdv-cloud/automotive-dev-operator:latest
  - name: dockerfile
  ...

bundle-on-push:
  params:
  - name: git-url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/rh-sdv-cloud/automotive-dev-operator-bundle:{{revision_short}}
  - name: output-image-tag
    value: quay.io/rh-sdv-cloud/automotive-dev-operator-bundle:latest
  ...

catalog-on-pull-request:
  params:
  - name: git-url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/rh-sdv-cloud/automotive-dev-operator-catalog:pr-{{pull_request_number}}-{{revision_short}}
  - name: dockerfile
    value: catalog.Dockerfile
  - name: path-context
    value: .
  ...

fix(caib): workspace commands use RenderFormatted for structured output (fixes #4) (#532)
  cmd/caib/root.go
  cmd/caib/workspace/workspace.go
  cmd/caib/workspace/workspace_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

refactor(caib): consolidate output format handling and formatAge (#538)
  cmd/caib/catalog/catalog_test.go
  cmd/caib/catalog/list.go
  cmd/caib/common/format_age.go
  cmd/caib/common/format_age_test.go
  cmd/caib/querycmd/query.go
  cmd/caib/querycmd/query_test.go
  cmd/caib/status.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

fix(caib): inspect provenance output respects --quiet flag (fixes #7) (#535)
  cmd/caib/inspectcmd/inspect.go
  cmd/caib/inspectcmd/inspect_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

use clusterip instead of nodeport for dex (#540)
  hack/e2e/dex.values.yaml
Due: none

fix(caib): catalog commands write warnings and prompts to stderr (fixes #5) (#533)
  cmd/caib/catalog/add.go
  cmd/caib/catalog/catalog.go
  cmd/caib/catalog/catalog_test.go
  cmd/caib/catalog/get.go
  cmd/caib/catalog/remove.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

feat(catalog): default list to Available heads per schedule (#548)
  cmd/caib/catalog/catalog_test.go
  cmd/caib/catalog/get.go
  cmd/caib/catalog/list.go
  internal/buildapi/catalog/handlers.go
  internal/buildapi/catalog/handlers_test.go
  internal/buildapi/catalog/models.go
  internal/controller/catalogimage/publisher.go
  internal/controller/catalogimage/publisher_test.go
  internal/controller/scheduledimagebuild/controller.go
  internal/controller/scheduledimagebuild/controller_test.go
  test/e2e/catalog_discovery_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

feat(catalog): flash by CatalogImage name (#549)
  cmd/caib/flashcmd/flash.go
  cmd/caib/flashcmd/resolve_target_test.go
  cmd/caib/image/image.go
  internal/buildapi/client/client.go
  internal/buildapi/flash.go
  internal/buildapi/flash_helpers.go
  internal/buildapi/flash_helpers_test.go
  internal/buildapi/types.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

fix(caib): suppress auth flow stderr messages in quiet mode (fixes #8) (#536)
  cmd/caib/clilog/clilog.go
  cmd/caib/clilog/clilog_test.go
  cmd/caib/common/api_client.go
  cmd/caib/config/config.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

fix(caib): emit structured output before artifact download (fixes #6) (#534)
  cmd/caib/buildcmd/build.go
  cmd/caib/buildcmd/build_result_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

fix(caib): route OCI artifact output through clilog for quiet mode (fixes #2) (#530)
  cmd/caib/common/oci_artifact.go
  cmd/caib/common/oci_artifact_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

feat: add S3 artifact upload support for ImageBuild (#346)
  api/v1alpha1/imagebuild_types.go
  api/v1alpha1/imagebuild_types_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/caib/buildcmd/build.go
  cmd/caib/buildcmd/build_disk_test.go
  cmd/caib/buildcmd/build_s3_test.go
  cmd/caib/image/image.go
  cmd/caib/main.go
  cmd/caib/runtime_wiring.go
  cmd/export-tasks/main.go
  config/crd/bases/automotive.sdv.cloud.redhat.com_imagebuilds.yaml
  config/crd/bases/automotive.sdv.cloud.redhat.com_scheduledimagebuilds.yaml
  internal/buildapi/build_spec.go
  internal/buildapi/s3_test.go
  internal/buildapi/secrets.go
  internal/buildapi/server.go
  internal/buildapi/server_test.go
  internal/buildapi/types.go
  internal/common/tasks/pipeline_test.go
  internal/common/tasks/scripts.go
  internal/common/tasks/scripts/push_artifact_s3.sh
  internal/common/tasks/tasks.go
  internal/controller/imagebuild/controller.go
  internal/controller/imagebuild/controller_test.go
  internal/controller/operatorconfig/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

fix(caib): derive server URL from Jumpstarter config in workspace commands (fixes #20) (#560)
  cmd/caib/workspace/workspace.go
  cmd/caib/workspace/workspace_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

fix(build): preserve PVC scratch subPath dirs during persistent cache cleanup (fixes #17) (#561)
  internal/common/tasks/scratch_volumes_test.go
  internal/common/tasks/scripts/build_image.sh
  internal/common/tasks/scripts/find_manifest.sh
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

chore: update golangci lint to 2.13 (#579)
  .golangci.yml
  .pre-commit-config.yaml
  Makefile
  cmd/export-tasks/main.go
  internal/buildapi/server.go
  internal/buildapi/workspace.go
  internal/controller/catalogimage/catalogimage_controller.go
  internal/controller/image/controller.go
  internal/controller/imagebuild/controller.go
  internal/controller/operatorconfig/controller.go
  internal/controller/workspace/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

docs(e2e): add per-spec inventory and gen-spec-index script (#556)
  .claude/rules/e2e-doc-sync.md
  .cursor/rules/e2e-doc-sync.mdc
  CLAUDE.md
  Makefile.e2e
  test/e2e/README.md
  test/e2e/e2e-test-summary.md
  test/e2e/scripts/gen-spec-index.sh
Due: none

feat(caib): accept /workspace paths in --workspace builds (#564)
  cmd/caib/buildcmd/build.go
  cmd/caib/buildcmd/workspace_files.go
  cmd/caib/buildcmd/workspace_files_test.go
  cmd/caib/common/manifest_artifact_helpers.go
  cmd/caib/common/manifest_artifact_helpers_test.go
  internal/buildapi/server.go
  internal/buildapi/uploads.go
  internal/buildapi/uploads_test.go
  internal/buildapi/workspace_hydrate.go
  internal/buildapi/workspace_hydrate_test.go
  internal/buildapi/workspace_manifest.go
  internal/buildapi/workspace_manifest_test.go
  internal/common/labels/labels.go
  internal/controller/imagebuild/controller.go
  internal/controller/imagebuild/controller_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

feat(caib): workspace sync includes untracked files and supports --delete (#590)
  cmd/caib/workspace/workspace.go
  cmd/caib/workspace/workspace_test.go
  internal/buildapi/client/client.go
  internal/buildapi/workspace.go
  internal/buildapi/workspace_sync_test.go
  internal/buildapi/workspace_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

ci: drop github build actions so the images created with konflux pipelines wont be overwritten
  .github/workflows/build.yml
Due: none

ci: add bundle validation to lint workflow
  .github/workflows/lint.yml
Due: none

feat: preserve complete terminal results (#644)
  internal/buildapi/flash.go
  internal/buildapi/notification_admission_test.go
  internal/buildapi/server.go
  internal/buildapi/server_test.go
  internal/buildapi/terminal.go
  internal/buildapi/terminal_test.go
  internal/buildapi/workspace.go
  internal/common/terminal/result.go
  internal/common/terminal/result_test.go
  internal/controller/imagebuild/controller.go
  internal/controller/imagebuild/controller_test.go
  internal/controller/imagebuild/terminal.go
  internal/controller/imagebuild/terminal_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

feat: add AIB lockfile input support (#671)
  api/v1alpha1/crd_schema_test.go
  api/v1alpha1/imagebuild_types.go
  api/v1alpha1/lockfile.go
  api/v1alpha1/lockfile_test.go
  cmd/caib/buildcmd/build.go
  cmd/caib/buildcmd/lockfile.go
  cmd/caib/buildcmd/lockfile_test.go
  cmd/caib/image/image.go
  cmd/caib/main_test.go
  cmd/caib/runtime_wiring.go
  config/crd/bases/automotive.sdv.cloud.redhat.com_imagebuilds.yaml
  config/crd/bases/automotive.sdv.cloud.redhat.com_scheduledimagebuilds.yaml
  docs/openapi.yaml
  internal/buildapi/build_spec.go
  internal/buildapi/build_validation.go
  internal/buildapi/lockfile_test.go
  internal/buildapi/openapi.yaml
  internal/buildapi/server.go
  internal/buildapi/types.go
  internal/common/tasks/lockfile_test.go
  internal/common/tasks/scripts/build_image.sh
  internal/controller/imagebuild/controller.go
  internal/controller/imagebuild/manifest_configmap_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

Path conditions:
  aib-webui-on-pull-request: (any of: ^webui/.*) or (any of: ^\.tekton/aib-webui-.*\.yaml$)
  automotive-dev-operator-on-pull-request: (((any of: ^(api|internal|cmd)/.*) or (any of: ^Dockerfile$)) or (any of: ^go\.(mod|sum)$)) or (any of: ^\.tekton/automotive-dev-operator-.*\.yaml$)
  automotive-dev-operator-on-push: ((any of: ^(api|internal|cmd)/.*) or (any of: ^Dockerfile$)) or (any of: ^go\.(mod|sum)$)
  bundle-on-push: ((any of: ^bundle/.*) or (any of: ^config/.*)) or (any of: ^bundle\.Dockerfile$)
  catalog-on-pull-request: ((any of: ^catalog/.*) or (any of: ^catalog\.Dockerfile$)) or (any of: ^\.tekton/catalog-.*\.yaml$)
