Repository bkhizgiy/automotive-dev-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: aib-webui-on-pull-request, automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push, catalog-on-pull-request

Path conditions:
  aib-webui-on-pull-request: (any of: ^webui/.*) or (any of: ^\.tekton/aib-webui-.*\.yaml$)
  automotive-dev-operator-on-pull-request: (((any of: ^(api|internal|cmd)/.*) or (any of: ^Dockerfile$)) or (any of: ^go\.(mod|sum)$)) or (any of: ^\.tekton/automotive-dev-operator-.*\.yaml$)
  automotive-dev-operator-on-push: ((any of: ^(api|internal|cmd)/.*) or (any of: ^Dockerfile$)) or (any of: ^go\.(mod|sum)$)
  bundle-on-push: ((any of: ^bundle/.*) or (any of: ^config/.*)) or (any of: ^bundle\.Dockerfile$)
  catalog-on-pull-request: ((any of: ^catalog/.*) or (any of: ^catalog\.Dockerfile$)) or (any of: ^\.tekton/catalog-.*\.yaml$)

support custom definitions for prepare-builder
  internal/common/tasks/scripts/build_builder.sh
  internal/common/tasks/scripts/build_image.sh
  internal/common/tasks/tasks.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

caib: improve build flow
  cmd/caib/main.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

jumpstarter: refresh token before flashing
  internal/common/tasks/scripts/flash_image.sh
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

show logs for flashing
  internal/buildapi/server.go
  internal/controller/imagebuild/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

add default args in mapping
  api/v1alpha1/operatorconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/caib/main.go
  config/crd/bases/automotive.sdv.cloud.redhat.com_operatorconfigs.yaml
  internal/buildapi/server.go
  internal/buildapi/server_test.go
  internal/buildapi/types.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

add tests
  internal/controller/imagebuild/controller_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

improve logs and sort list output
  cmd/caib/main.go
  cmd/caib/main_test.go
  internal/buildapi/server.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

limit upload to 30 minutes by default
  api/v1alpha1/operatorconfig_types.go
  config/crd/bases/automotive.sdv.cloud.redhat.com_operatorconfigs.yaml
  internal/controller/imagebuild/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

move default target configs to ConfigMap
  api/v1alpha1/operatorconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/caib/main.go
  cmd/caib/main_test.go
  config/crd/bases/automotive.sdv.cloud.redhat.com_operatorconfigs.yaml
  internal/buildapi/server.go
  internal/buildapi/server_test.go
  internal/buildapi/types.go
  internal/common/tasks/scripts/push_artifact.sh
  internal/common/tasks/tasks.go
  internal/controller/operatorconfig/controller.go
  internal/controller/operatorconfig/resources_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

fix flash log streaming
  cmd/caib/main.go
  internal/buildapi/server.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

Improve error message when auth failing to be more informative (#74)
  internal/buildapi/client_tokens.go
  internal/buildapi/server.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

improve timeouts
  cmd/caib/main.go
  internal/buildapi/server.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

handle TERM=dumb
  cmd/caib/main.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

fix failure hnadling and lease duration parsing
  cmd/caib/main.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

hack: fix OperatorConfig keeping (#115)
  hack/deploy-catalog.sh
Due: none

annotate and label bootc artifacts
  internal/common/tasks/scripts/build_image.sh
  internal/common/tasks/scripts/push_artifact.sh
  internal/common/tasks/tasks.go
  internal/controller/imagebuild/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

remove deprecated subcommands
  cmd/caib/main.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

sanitize build name
  cmd/caib/main.go
  cmd/caib/main_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

embed manifest in ImageBuild
  README.md
  api/v1alpha1/imagebuild_types.go
  api/v1alpha1/imagebuild_types_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/automotive.sdv.cloud.redhat.com_imagebuilds.yaml
  config/manifests/bases/automotive-dev-operator.clusterserviceversion.yaml
  config/samples/automotive_v1_imagebuild.yaml
  internal/buildapi/build_aib_spec_test.go
  internal/buildapi/server.go
  internal/controller/imagebuild/controller.go
  internal/controller/imagebuild/manifest_configmap_test.go
  test/e2e/e2e_test.go
  vendor/k8s.io/apimachinery/pkg/util/rand/rand.go
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/pkg/client/fake/client.go
  vendor/sigs.k8s.io/controller-runtime/pkg/client/fake/doc.go
  vendor/sigs.k8s.io/controller-runtime/pkg/client/interceptor/intercept.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/objectutil/objectutil.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

upgrade operator-sdk
  Makefile
Due: none

add more validations around names
  api/v1alpha1/operatorconfig_types.go
  cmd/build-api/main.go
  cmd/caib/main.go
  config/crd/bases/automotive.sdv.cloud.redhat.com_operatorconfigs.yaml
  internal/buildapi/internal_registry_test.go
  internal/buildapi/server.go
  internal/common/tasks/scripts/build_image.sh
  internal/controller/imagebuild/controller.go
  internal/controller/imagebuild/controller_test.go
  internal/controller/imagebuild/manifest_configmap_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

add --rebuild-builder
  api/v1alpha1/imagebuild_types.go
  cmd/caib/main.go
  config/crd/bases/automotive.sdv.cloud.redhat.com_imagebuilds.yaml
  internal/buildapi/server.go
  internal/buildapi/types.go
  internal/common/tasks/scripts/build_builder.sh
  internal/common/tasks/scripts/build_image.sh
  internal/common/tasks/tasks.go
  internal/controller/imagebuild/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

improve CLI instructions and colors
  cmd/caib/main.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

replace fuse-overlayfs with kernel overlay storage driver
  internal/common/tasks/scripts/build_builder.sh
  internal/common/tasks/scripts/build_image.sh
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

consolidate MemoryVolumes flags
  api/v1alpha1/operatorconfig_types.go
  config/crd/bases/automotive.sdv.cloud.redhat.com_operatorconfigs.yaml
  internal/common/tasks/scripts/build_builder.sh
  internal/common/tasks/scripts/build_image.sh
  internal/common/tasks/tasks.go
  internal/controller/operatorconfig/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

improve build-dir placements for memory volume
  internal/common/tasks/scripts/build_image.sh
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

sealed images: generate the key for the tasks
  api/v1alpha1/imagesealed_types.go
  cmd/caib/sealed/sealed.go
  config/crd/bases/automotive.sdv.cloud.redhat.com_imagesealeds.yaml
  internal/buildapi/server.go
  internal/buildapi/types.go
  internal/common/tasks/scripts/sealed_operation.sh
  internal/common/tasks/tasks.go
  internal/controller/imagesealed/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

Fix functionality for image prepare-reseal
  api/v1alpha1/imagesealed_types.go
  cmd/caib/sealed/extract_for_signing.go
  cmd/caib/sealed/inject_signed.go
  cmd/caib/sealed/prepare_reseal.go
  cmd/caib/sealed/reseal.go
  cmd/caib/sealed/sealed.go
  config/crd/bases/automotive.sdv.cloud.redhat.com_imagesealeds.yaml
  internal/buildapi/server.go
  internal/buildapi/types.go
  internal/common/tasks/scripts/sealed_operation.sh
  internal/common/tasks/tasks.go
  internal/controller/imagesealed/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

Improve sealed tasks and add key option to operator config
  api/v1alpha1/imagesealed_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/automotive.sdv.cloud.redhat.com_imagesealeds.yaml
  cmd/caib/sealed/extract_for_signing.go
  cmd/caib/sealed/inject_signed.go
  cmd/caib/sealed/prepare_reseal.go
  cmd/caib/sealed/reseal.go
  cmd/caib/sealed/sealed.go
  config/crd/bases/automotive.sdv.cloud.redhat.com_imagesealeds.yaml
  internal/buildapi/server.go
  internal/buildapi/types.go
  internal/common/tasks/scripts/sealed_operation.sh
  internal/common/tasks/tasks.go
  internal/controller/imagesealed/controller.go
  internal/controller/operatorconfig/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

Add seal image commands to caib CLI
  api/v1alpha1/imagesealed_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/automotive.sdv.cloud.redhat.com_imagesealeds.yaml
  cmd/caib/main.go
  cmd/caib/sealed/extract_for_signing.go
  cmd/caib/sealed/inject_signed.go
  cmd/caib/sealed/prepare_reseal.go
  cmd/caib/sealed/reseal.go
  cmd/caib/sealed/sealed.go
  cmd/main.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

Add unit testing to sealed image operations
  api/v1alpha1/imagesealed_types_test.go
  internal/common/tasks/sealed_tasks_test.go
  internal/controller/test/imagesealed_controller_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

Fix extract-for-signing and inject-signed tasks
  internal/common/tasks/scripts/sealed_operation.sh
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

Fix linting errors for sealed images
  bundle/manifests/automotive.sdv.cloud.redhat.com_imagesealeds.yaml
  cmd/caib/sealed/prepare_reseal.go
  cmd/caib/sealed/reseal.go
  cmd/caib/sealed/sealed.go
  internal/buildapi/client/client.go
  internal/buildapi/server.go
  internal/buildapi/types.go
  internal/controller/imagesealed/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

Add seal image operation to the controller
  bundle/manifests/automotive.sdv.cloud.redhat.com_imagebuilds.yaml
  config/crd/bases/automotive.sdv.cloud.redhat.com_imagesealeds.yaml
  config/crd/kustomization.yaml
  config/manifests/bases/automotive-dev-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/buildapi/client/client.go
  internal/buildapi/server.go
  internal/buildapi/types.go
  internal/common/tasks/scripts.go
  internal/common/tasks/tasks.go
  internal/controller/imagesealed/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

Add seal/resel tekton tasks
  internal/common/tasks/scripts/sealed_operation.sh
  internal/controller/imagesealed/controller.go
  internal/controller/operatorconfig/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

Fix sealed secret validation
  internal/buildapi/server.go
  internal/common/tasks/scripts/sealed_operation.sh
  internal/common/tasks/tasks.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

Fix sealed linter issues
  internal/buildapi/server.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

Improve sealed operation code
  internal/buildapi/server.go
  internal/common/tasks/scripts/sealed_operation.sh
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

Fix sealed operation bugs
  cmd/caib/main.go
  cmd/caib/sealed/extract_for_signing.go
  cmd/caib/sealed/inject_signed.go
  cmd/caib/sealed/sealed.go
  cmd/main.go
  internal/buildapi/server.go
  internal/common/tasks/scripts/sealed_operation.sh
  internal/common/tasks/sealed_tasks_test.go
  internal/common/tasks/tasks.go
  internal/controller/imagesealed/controller.go
  internal/controller/test/imagesealed_controller_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push
