Repository bkhizgiy/automotive-dev-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: aib-webui-on-pull-request, automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push, catalog-on-pull-request

aib-webui-on-pull-request:
  params:
  - name: git-url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/rh-sdv-cloud/aib-webui:pr-{{pull_request_number}}-{{revision_short}}
  - name: dockerfile
    value: webui/Dockerfile
  - name: path-context
    value: webui
  pipelineSpec:
  ...

automotive-dev-operator-on-pull-request:
  params:
  - name: git-url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/rh-sdv-cloud/automotive-dev-operator:pr-{{pull_request_number}}-{{revision_short}}
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: .
  pipelineSpec:
  ...

automotive-dev-operator-on-push:
  params:
  - name: git-url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/rh-sdv-cloud/automotive-dev-operator:{{revision_short}}
  - name: output-image-tag
    value: quay.io/rh-sdv-cloud/automotive-dev-operator:latest
  - name: dockerfile
  ...

bundle-on-push:
  params:
  - name: git-url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/rh-sdv-cloud/automotive-dev-operator-bundle:{{revision_short}}
  - name: output-image-tag
    value: quay.io/rh-sdv-cloud/automotive-dev-operator-bundle:latest
  ...

catalog-on-pull-request:
  params:
  - name: git-url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/rh-sdv-cloud/automotive-dev-operator-catalog:pr-{{pull_request_number}}-{{revision_short}}
  - name: dockerfile
    value: catalog.Dockerfile
  - name: path-context
    value: .
  ...

Add login option for caib and save the configuration locally under ~/.caib
  cmd/caib/catalog/add.go
  cmd/caib/catalog/get.go
  cmd/caib/catalog/list.go
  cmd/caib/catalog/publish.go
  cmd/caib/catalog/remove.go
  cmd/caib/catalog/verify.go
  cmd/caib/config/config.go
  cmd/caib/main.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

workaround qm_var partition name
  internal/common/tasks/scripts/push_artifact.sh
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

add included list of partitions
  internal/common/tasks/scripts/push_artifact.sh
  internal/common/tasks/tasks.go
  internal/controller/operatorconfig/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

fix directory upload
  internal/buildapi/client/client.go
  internal/buildapi/server.go
  internal/common/tasks/scripts/find_manifest.sh
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

Improve error message when auth failing to be more informative
  internal/buildapi/client_tokens.go
  internal/buildapi/server.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

improve build volumes handling
  api/v1alpha1/operatorconfig_types.go
  bundle/manifests/automotive.sdv.cloud.redhat.com_operatorconfigs.yaml
  config/crd/bases/automotive.sdv.cloud.redhat.com_operatorconfigs.yaml
  config/samples/automotive_v1_operatorconfig.yaml
  internal/common/tasks/tasks.go
  internal/controller/operatorconfig/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

caib: restore caib download
  cmd/caib/main.go
  internal/buildapi/server.go
  internal/buildapi/types.go
  internal/controller/operatorconfig/resources.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

caib: fix list output layout
  cmd/caib/main.go
  internal/buildapi/server.go
  internal/buildapi/types.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

introduce internal registry
  api/v1alpha1/imagebuild_types.go
  cmd/caib/README.md
  cmd/caib/main.go
  config/crd/bases/automotive.sdv.cloud.redhat.com_imagebuilds.yaml
  config/manager/kustomization.yaml
  config/rbac/kustomization.yaml
  config/rbac/pipeline_registry_rolebinding.yaml
  config/rbac/role.yaml
  internal/buildapi/openapi.yaml
  internal/buildapi/server.go
  internal/buildapi/types.go
  internal/common/tasks/scripts/push_artifact.sh
  internal/controller/imagebuild/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

support internal registry with --flash
  cmd/main.go
  internal/buildapi/server.go
  internal/common/tasks/scripts/flash_image.sh
  internal/common/tasks/tasks.go
  internal/controller/imagebuild/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

add tests
  internal/buildapi/internal_registry_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

fix creds handling
  internal/buildapi/internal_registry_test.go
  internal/buildapi/server.go
  internal/common/tasks/scripts/flash_image.sh
  internal/common/tasks/tasks.go
  internal/controller/imagebuild/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

update CLAUDE.md and deploy script
  CLAUDE.md
  hack/deploy-catalog.sh
Due: none

Add insecure flag for OIDC flow
  cmd/caib/auth/config.go
  cmd/caib/auth/oidc.go
  cmd/caib/auth/wrapper.go
  cmd/caib/catalog/add.go
  cmd/caib/catalog/catalog.go
  cmd/caib/catalog/get.go
  cmd/caib/catalog/list.go
  cmd/caib/catalog/publish.go
  cmd/caib/catalog/remove.go
  cmd/caib/catalog/verify.go
  cmd/caib/main.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

Modify caib unit tests to support --insecure flag
  cmd/caib/auth/config_test.go
  cmd/caib/auth/wrapper_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

operator: split operator into a separate deployment
  .github/workflows/e2e.yml
  Makefile
  bundle/manifests/ado-operator-auth-delegator_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundle/manifests/ado-operator-metrics-service_v1_service.yaml
  bundle/manifests/ado-pipeline-registry-editor_rbac.authorization.k8s.io_v1_rolebinding.yaml
  bundle/manifests/automotive-dev-operator.clusterserviceversion.yaml
  bundle/manifests/automotive.sdv.cloud.redhat.com_imagebuilds.yaml
  cmd/main.go
  config/build-api/deployment.yaml
  config/default/metrics_service.yaml
  config/manager/manager.yaml
  config/manager/service.yaml
  config/network-policy/allow-metrics-traffic.yaml
  config/prometheus/monitor.yaml
  config/rbac/leader_election_role_binding.yaml
  config/rbac/role.yaml
  config/rbac/role_binding.yaml
  config/rbac/service_account.yaml
  hack/deploy-catalog.sh
  internal/controller/operatorconfig/controller.go
  internal/controller/operatorconfig/resources.go
  internal/controller/operatorconfig/resources_test.go
  test/e2e/README.md
  test/e2e/e2e_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

reduce permissions
  config/rbac/role.yaml
  internal/controller/imagebuild/controller.go
  internal/controller/operatorconfig/resources.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

update e2e log
  .github/workflows/e2e.yml
Due: none

add openshift version and remove bundle
  .gitignore
  Makefile
  bundle/manifests/ado-image-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/ado-image-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/ado-imagebuild-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/ado-imagebuild-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/ado-metrics-auth-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/ado-metrics-auth-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundle/manifests/ado-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/ado-operator-auth-delegator_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundle/manifests/ado-operator-metrics-service_v1_service.yaml
  bundle/manifests/ado-pipeline-privileged-scc_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundle/manifests/ado-pipeline-registry-editor_rbac.authorization.k8s.io_v1_rolebinding.yaml
  bundle/manifests/ado-scc-privileged-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/automotive-dev-operator.clusterserviceversion.yaml
  bundle/manifests/automotive.sdv.cloud.redhat.com_catalogimages.yaml
  bundle/manifests/automotive.sdv.cloud.redhat.com_imagebuilds.yaml
  bundle/manifests/automotive.sdv.cloud.redhat.com_images.yaml
  bundle/manifests/automotive.sdv.cloud.redhat.com_operatorconfigs.yaml
  bundle/metadata/annotations.yaml
  bundle/metadata/dependencies.yaml
  bundle/tests/scorecard/config.yaml
Due: bundle-on-push

update actions
  .github/workflows/build.yml
  .github/workflows/e2e.yml
  .github/workflows/lint.yml
Due: none

fix flashing to internal registry
  cmd/caib/main.go
  internal/common/tasks/scripts/flash_image.sh
  internal/controller/imagebuild/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

fix creds passing to jumpstarter
  internal/common/tasks/scripts/flash_image.sh
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

fix namespace handling
  catalogsource.yaml
  cmd/main.go
  config/manager/manager.yaml
  hack/deploy-catalog.sh
  internal/controller/operatorconfig/controller.go
  internal/controller/operatorconfig/resources.go
  internal/controller/operatorconfig/resources_test.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push, bundle-on-push

fail if flash requested an no mapping is available
  cmd/caib/main.go
  internal/buildapi/client/client.go
  internal/buildapi/server.go
  internal/buildapi/types.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

properly handle internal registry
  cmd/main.go
  internal/buildapi/server.go
  internal/buildapi/server_test.go
  internal/controller/imagebuild/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

add caib show
  cmd/caib/README.md
  cmd/caib/main.go
  internal/buildapi/client/client.go
  internal/buildapi/server.go
  internal/buildapi/types.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

do not set default partitions on unrelated targets
  internal/common/tasks/scripts/push_artifact.sh
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

pass user provided credentials to flashing task
  internal/controller/imagebuild/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

display registry route and not server when listing
  internal/buildapi/server.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

remove instructions from task
  internal/common/tasks/scripts/push_artifact.sh
  internal/controller/imagebuild/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

add boot_b mapping for ride4 boards
  internal/common/tasks/scripts/push_artifact.sh
  internal/controller/operatorconfig/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

caib: fix download when using --internal-registry
  cmd/caib/main.go
  internal/buildapi/openapi.yaml
  internal/buildapi/server.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

handle insecure and secret name
  cmd/caib/main.go
  internal/buildapi/server.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

--push-disk implies --disk
  cmd/caib/main.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

use containers_image_openpgp tag for building caib
  .github/workflows/build.yml
  Makefile
Due: none

do not depend on containers for caib release
  .github/workflows/build.yml
Due: none

caib: add download script
  hack/install-caib.sh
Due: none

Fix error messages
  internal/buildapi/server.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

add hack/deploy-catalog.sh
  hack/deploy-catalog.sh
Due: none

fix default partition mapping
  internal/controller/operatorconfig/controller.go
Due: automotive-dev-operator-on-pull-request, automotive-dev-operator-on-push

Path conditions:
  aib-webui-on-pull-request: (any of: ^webui/.*) or (any of: ^\.tekton/aib-webui-.*\.yaml$)
  automotive-dev-operator-on-pull-request: (((any of: ^(api|internal|cmd)/.*) or (any of: ^Dockerfile$)) or (any of: ^go\.(mod|sum)$)) or (any of: ^\.tekton/automotive-dev-operator-.*\.yaml$)
  automotive-dev-operator-on-push: ((any of: ^(api|internal|cmd)/.*) or (any of: ^Dockerfile$)) or (any of: ^go\.(mod|sum)$)
  bundle-on-push: ((any of: ^bundle/.*) or (any of: ^config/.*)) or (any of: ^bundle\.Dockerfile$)
  catalog-on-pull-request: ((any of: ^catalog/.*) or (any of: ^catalog\.Dockerfile$)) or (any of: ^\.tekton/catalog-.*\.yaml$)
